

<div class="row">
  <div class="col-md-6">
    {{#ui/ui-box as |b|}}
      {{#b.body}}
        {{textarea value=billIds key-press="updateData"}}
      {{/b.body}}
    {{/ui/ui-box}}
  </div>

</div>