

{{#ui/ui-box as |b|}}
  {{#b.body}}
    <div class="row">
      <div class="col-md-3">
        {{#bs-button onClick=(action "setSubject" "details")}}
          Details
        {{/bs-button}}
      </div>
      <div class="col-md-3">
        {{#bs-button onClick=(action "setSubject" "importance")}}
          What's Important
        {{/bs-button}}
      </div>
      <div class="col-md-3">
        {{#bs-button onClick=(action "setSubject" "scorecard")}}
          Scorecard
        {{/bs-button}}
      </div>
      <div class="col-md-3">
        {{#bs-button onClick=(action "setSubject" "latest")}}
          Latest
        {{/bs-button}}
      </div>
    </div>
  {{/b.body}}
{{/ui/ui-box}}