{{#ui/ui-box as |b|}}
  {{#b.header}}
    {{displayTitle}}: {{referencedModel.bill.stateId}}

    {{close-button (action "dismiss") class="pull-right"}}
  {{/b.header}}
  {{#b.body}}
    <p class="row card-body">
      {{#if referencedModel}}

      
      {{/if}}
    </p>


  {{/b.body}}
  {{#b.footer class=footerClasses}}
    {{#if referencedModel}}
      {{#link-to "groups.detail.bill" referencedModel.id class="btn btn-outline-info ml-1"}}View{{/link-to}}
    {{/if}}
    {{bs-button defaultText="Dismiss" type="outline-secondary" class="mx-1" onClick=(action "dismiss")}}
  {{/b.footer}}
{{/ui/ui-box}}
