//
// OVERRIDDEN VARIABLES
// -------------------------------------------------

// Settings
$enable-rounded: false;

$body-bg: #fdfdfd;
$font-weight-normal: 300;

// Typography
$font-family-sans-serif: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;


//
// CUSTOM VARIABLES
// -------------------------------------------------
$body-font-color: black;
