<div class="btn-group btn-group-sm" role="group" aria-label="Bill Actions">
  {{#link-to "reports.detail" row.id class="btn btn-primary btn-sm"}}View{{/link-to}}
  {{reports/report-download report=row type="secondary" size="btn-sm"}}
  {{reports/report-send report=row type="secondary" size="btn-sm"}}
</div>

