{{#ui/ui-card}}
  {{#block-slot "title"}}
    <span class="d-flex justify-content-between">
      Report Details
      {{reports/report-download report=report type="secondary"}}
    </span>
  {{/block-slot}}
  {{#block-slot "content"}}
    <h5>Summary</h5>
    {{report.description}}
  {{/block-slot}}
  {{#block-slot "footer"}}

  {{/block-slot}}
{{/ui/ui-card}}