<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      {{#each table.responsiveHiddenColumns as |column|}}
        <dt>{{column.label}}:</dt>
        <dd>
          {{#if column.cellComponent}}
            {{component column.cellComponent row=row}}
          {{else}}
            {{get row column.valuePath}}
          {{/if}}
        </dd>
      {{/each}}
    </dl>
  </div>
</div>
