
<div class="container">
  <div class="group-header d-flex justify-content-start align-items-center">
    {{#if (unbound group.logo)}}
      <img src="{{unbound group.logo}}" alt="{{group.title}}" class="img-thumbnail img-fluid w-25 mr-1">
    {{/if}}
    <h4 class="page-title">{{unbound group.title}}</h4>

  </div>
</div>
{{#if group.id}}
  {{ui/group-nav group=group class="mt-1"}}
{{/if}}
