<div class="container">
  <div class="group-header row">
    {{#if group.logo}}
      <div class="header-img-wrapper col-xs-4">
        <img src="{{group.logo}}" alt="" class="img-responsive">
      </div>
    {{/if}}
    <div class="col-xs-8">
      <h4 class="page-title">{{group.title}}</h4>
    </div>
  </div>
</div>
{{ui/group-nav group=group}}