
<div class="row">
  {{#if group.logo}}
    <div class="col-1">
      <img src="{{unbound group.logo}}" alt="{{group.title}}" class="img-thumbnail img-fluid mr-1">
    </div>
  {{/if}}
  <div class="col-11">
    <h4 class="page-title">{{unbound group.title}}</h4>

  </div>
</div>

