<div class="app flex-row align-items-center">
  <div class="container">
    <div class="col-md-6 offset-md-3">
      <div class="anon-header">
        <h1>
          <img src="/assets/images/capitolzenwordmark_logo.svg" alt="Capitol Zen">
          <span class="sr-only">Capitol Zen</span>
        </h1>
      </div>
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
      <div class="card">
        {{#bs-form model=this onSubmit=(action "resetPassword") as |form|}}
          <div class="card-block">
            <h4 class="card-title">Reset Password</h4>
            {{form.element controlType="email" label="Email" placeholder="Email" property="email"}}
          </div>
          <div class="card-footer">
            {{bs-button defaultText="Reset Password" type="primary" buttonType="submit"}}
            {{#link-to 'anon.login' class="pull-right btn btn-secondary"}}Cancel{{/link-to}}
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
</div>
