<div class="app flex-row align-items-center">
  <div class="container">
    <div class="col-6 offset-3">
      <div class="header">
        <h1>
          Capitol Zen
        </h1>
      </div>
      <div class="card">
        {{#bs-form model=this as |form|}}
          <div class="card-block">
            <h4 class="card-title">Reset Password</h4>
            {{form.element controlType="email" label="Email" placeholder="Email" property="identification"}}
          </div>
          <div class="card-footer">
            {{bs-button defaultText="Reset Password" type="primary" buttonType="submit"}}
            {{#link-to 'anon.login' class="pull-right btn btn-secondary"}}Cancel{{/link-to}}
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
</div>
