<div class="row">
  <div class="col-10 offset-1">
    <h1 class="display-2 mt-3">Privacy Policy</h1>
    {{#ui/ui-box as |b|}}

      {{#b.body}}
        <p>
          IMPORTANT NOTICE: DISPUTES ABOUT THESE TERMS AND THE SERVICES PROVIDED BY
          Capitol Zen ARE SUBJECT TO BINDING ARBITRATION AND A WAIVER OF CLASS ACTION
          RIGHTS AS DETAILED IN THE “MANDATORY ARBITRATION AND CLASS ACTION WAIVER”
          SECTION BELOW. These User Terms of Service (the “Terms”) create a legal
          agreement between you (a “User”) and Capitol Zen, Inc. (“Capitol Zen,”
          “we,” “our”). These Terms govern your use of the services, software and
          websites (together, the “Services”) provided by Capitol Zen. By accessing
          or using the Services, you acknowledge and agree that you have read,
          understand, and agree to be bound by these Terms, our Acceptable Use
          Policy, and our Privacy Policy. If you do not agree to these Terms, then
          you have no right to access or use the Services. Organizations or other
          third parties that have paid for a subscription to Capitol Zen for use by
          their team (“Customers”) must separately agree to our Subscriber Agreement
          or enter into a written agreement with us (in either case, “Subscriber
          Agreement”). That Subscriber Agreement permits Customers to create and
          configure teams and invite others (“End Users”) to join. If you have been
          invited to a team created by a Customer, you acknowledge and agree that the
          Customer owns all content that you submit or upload to the Services and
          controls your use of the Services in accordance with applicable local laws,
          including but not limited to adding or removing you from a team, enabling
          or disabling third-party integrations, managing permissions, and accessing,
          modifying, or removing content that you submit or upload to the Services.
          We may, from time to time, modify these Terms. Please check this page
          periodically for updates. If you do not agree to, or cannot comply with,
          the modified Terms, you must stop using the Services. The updated Terms
          will take effect upon their posting and will apply on a going-forward
          basis, unless otherwise provided in a notice to you, and except as provided
          in the Mandatory Arbitration and Class Action Waiver section of these
          Terms. Your continued use of the Services after any such update constitutes
          your binding acceptance of such changes.
        </p>
        
        <p>
          1. ELIGIBILITY AND SCOPE
        </p>
        
        <p>
          1.1 Eligibility. To use the Services you must be, and represent and warrant
          that you are, at least 13 years of age and competent to agree to these
          Terms. If you are agreeing to these Terms on behalf of an organization or
          entity, you represent and warrant that you are authorized to agree to these
          Terms on that organization or entity’s behalf and bind them to these Terms
          (in which case, the references to “you” and “your” in these Terms, except
          for in this sentence, refer to that organization or entity). If Capitol Zen
          has previously prohibited you from accessing or using the Services, you are
          not permitted to access or use the Services.
        </p>
        
        <p>
          1.2 Use Outside the United States of America. The Services are controlled
          and operated by Capitol Zen from its offices in the United States of
          America. Capitol Zen makes no representations that the Services are
          appropriate for use in other locations. Those who access or use the
          Services from other locations do so at their own risk and are responsible
          for compliance with local law. Capitol Zen may offer services in other
          jurisdictions in which case a different version of these Terms may apply
          and will be presented to you on such services.
        </p>
        
        <p>
          2. ACCOUNT REGISTRATION AND USE
        </p>
        
        <p>
          2.1 Account Registration and Confidentiality. To access the Services, you
          must register for an Capitol Zen account by providing an email address and
          creating a password, and providing us with other information that we
          request. You agree to provide us with accurate, complete, and current
          registration information about yourself. It is your responsibility to
          ensure that your password remains confidential and secure. By registering,
          you agree that you are fully responsible for all activities that occur
          under your user name and password. We may assume that any communications we
          receive under your account have been made by you.
        </p>
        
        <p>
          2.2 Unauthorized Account Use. You are responsible for notifying us at
          security@capitolzen.com if you become aware of any unauthorized use of or
          access to your account. You understand and agree that we may require you to
          provide information that may be used to confirm your identity and help
          ensure the security of your account. Capitol Zen will not be liable for any
          loss, damages, liability, expenses or attorneys’ fees that you may incur as
          a result of someone else using your password or account, either with or
          without your knowledge and/or authorization, and regardless of whether you
          have or have not advised us of such unauthorized use. You will be liable
          for losses, damages, liability, expenses and attorneys’ fees incurred by
          Capitol Zen or a third party due to someone else using your account.
        </p>
        
        <p>
          3. OUR PROPRIETARY RIGHTS
        </p>
        
        <p>
          The Services are owned and operated by Capitol Zen and contain materials
          (including all software, design, text, editorial materials, informational
          text, photographs, illustrations, audio clips, video clips, artwork and
          other graphic materials, and names, logos, trademarks and services marks)
          which are derived in whole or in part from materials supplied by Capitol
          Zen and its partners, as well as other sources, and is protected by United
          States copyright laws, international treaty provisions, trademarks, service
          marks and other intellectual property laws. The Services are also protected
          as a collective work or compilation under U.S. copyright and other law and
          treaties. You agree to abide by all applicable copyright and other laws, as
          well as any additional copyright notices or restrictions contained in the
          Services. You acknowledge that the Services have been developed, compiled,
          prepared, revised, selected, and arranged by Capitol Zen and others through
          the application of methods and standards of judgment developed and applied
          through the expenditure of substantial time, effort, and money and
          constitute valuable intellectual property of Capitol Zen and such others.
          You agree to protect the proprietary rights of Capitol Zen and all others
          having rights in the Services during and after the term of these Terms and
          to comply with all reasonable written requests made by Capitol Zen or its
          suppliers and licensors (collectively, “Suppliers”) of content or otherwise
          to protect their and others’ contractual, statutory, and common law rights
          in the Services. You agree to notify Capitol Zen immediately upon becoming
          aware of any claim that the Services infringe upon any copyright,
          trademark, or other contractual, statutory, or common law rights. All
          present and future rights in and to trade secrets, patents, copyrights,
          trademarks, service marks, know-how, and other proprietary rights of any
          type under the laws of any governmental authority, domestic or foreign,
          including without limitation rights in and to all applications and
          registrations relating to the Services shall, as between you and Capitol
          Zen, at all times be and remain the sole and exclusive property of Capitol
          Zen. Any unauthorized use of any material contained on or through the
          Services may violate copyright laws, trademark laws, the laws of privacy
          and publicity and communications regulations and statutes.
        </p>
        <p>
          4. USER CONTENT AND SUBMISSIONS
        </p>
        
        <p>
          4.1 User Content and Submissions. The Services allow you to create tasks
          and submit associated information, text, files, and other materials
          (collectively, “User Content”) and to share that User Content with others.
          User Content submitted or otherwise made available (“submitted”) to the
          Services is subject to the following terms:
        </p>
        
        <p>
          4.1.1 Free User Content. Users of Capitol Zen’s free Services maintain
          ownership of the User Content that they submit to the Services (“Free User
          Content”). By submitting Free User Content, Users grant Capitol Zen a
          license to use, copy, reproduce, process, adapt, publish, transmit, host
          and display that Free User Content. We reserve the right to remove any Free
          User Content on the Services that violates these Terms or that is otherwise
          objectionable in Capitol Zen ‘s sole discretion.
        </p>
        
        <p>
          4.1.2 End User Content. Content submitted to the Services by End Users of
          Customer accounts (“End User Content”) is owned and controlled by the
          Customer as set forth in the introduction to these Terms and the Subscriber
          Agreement. Capitol Zen maintains a limited, non-exclusive and
          non-transferrable (except in connection with the sale or transfer of its
          business) license to access, use, copy, reproduce, process, adapt, publish,
          transmit and display End User Content for the limited purposes of (i)
          providing the Services and associated Customer and End User support; (ii)
          displaying the End User Content to the Customer and other End Users; and
          (iii) analyzing and improving the Services.
        </p>
        
        <p>
          4.2 User Content Representations. You acknowledge and agree that you have
          all required rights to submit User Content without violation of any
          third-party rights. You understand that Capitol Zen does not control, and
          is not responsible for, User Content, and that by using the Services, you
          may be exposed to User Content from other users that is offensive,
          indecent, inaccurate, misleading, or otherwise objectionable. Please also
          note that User Content may contain typographical errors, other inadvertent
          errors or inaccuracies. You agree that you will indemnify, defend, and hold
          harmless Capitol Zen for all claims resulting from User Content you post.
          We reserve the right, at our own expense, to assume the exclusive defense
          and control of such disputes, and in any event you will cooperate with us
          in asserting any available defenses.
        </p>
        
        <p>
          5. LICENSE AND ACCEPTABLE USE
        </p>
        
        <p>
          5.1 Your License. Subject to your compliance with these Terms, we grant you
          a limited, non-exclusive, non-sublicensable, non-transferable, and
          revocable right to access and use the Services only for your own internal,
          personal, or non-commercial use, and only in a manner that complies with
          all legal requirements that apply to you or your use of the Services,
          including the Capitol Zen Privacy Policy, these Terms, and if applicable,
          the Subscriber Agreement. Capitol Zen may revoke this license at any time,
          in its sole discretion. Upon any such revocation, you must promptly destroy
          all materials downloaded or otherwise obtained from the Services, as well
          as all copies of such materials, whether made in accordance with these
          Terms or otherwise.
        </p>
        
        <p>
          5.2 Acceptable Use. Your use of Capitol Zen must comply at all times with
          our Acceptable Use Policy.
        </p>
        
        <p>
          5.3 Violations. In addition to any other remedies that may be available to
          us, Capitol Zen reserves the right to immediately suspend or terminate your
          account or your access to the Services upon notice and without liability
          for Capitol Zen should you fail to abide by the terms of this Section 5. If
          you are an End User, Capitol Zen reserves the right to notify the Customer
          account owner of any violations of this Section 5, and the Customer retains
          the right to terminate your access to the Customer’s account for any
          reason.
        </p>
        
        <p>
          6. LEGAL COMPLIANCE
        </p>
        
        <p>
          You acknowledge, consent, and agree that Capitol Zen may access, preserve,
          and disclose your information and/or any User Content you submit to the
          Services if required to do so by law or in a good faith belief that such
          access, preservation, or disclosure is permitted by Capitol Zen’s Privacy
          Policy or reasonably necessary or appropriate for any of the following
          reasons: (1) to comply with legal process; (2) to enforce these Terms, our
          Privacy Policy, or other contracts with you, including investigation of
          potential violations thereof; (3) to respond to claims that any content
          violates the rights of third parties; (4) to respond to your requests for
          customer service; and/or (5) to protect the rights, property, or personal
          safety of Capitol Zen, its agents and affiliates, its users, and the
          public. This includes exchanging information with other companies and
          organizations for fraud protection, and spam/malware prevention, and
          similar purposes.
        </p>
        <p>
          7. PRIVACY
        </p>
        
        <p>
          For information about how we collect, use, and share the data we collect
          from and about you, please see our Privacy Policy which is incorporated by
          reference into these Terms.
        </p>
        
        <p>
          8. WARRANTIES, DISCLAIMERS AND LIMITATION OF LIABILITY
        </p>
        
        <p>
          THE SERVICES AND ITS CONTENTS, WHETHER PROVIDED BY Capitol Zen, ITS
          LICENSORS, ITS VENDORS OR ITS USERS, AND OTHER INFORMATION ON OR ACCESSIBLE
          FROM THE SERVICES ARE PROVIDED “AS IS” WITHOUT WARRANTY, REPRESENTATION,
          CONDITION, OR GUARANTEE OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING
          BUT NOT LIMITED TO ANY IMPLIED WARRANTIES, REPRESENTATIONS, CONDITIONS OR
          GUARANTEES OF QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
          OR NON-INFRINGEMENT, ALL OF WHICH ARE DISCLAIMED TO THE FULLEST EXTENT
          PERMITTED BY LAW. SPECIFICALLY, BUT WITHOUT LIMITATION, Capitol Zen DOES
          NOT WARRANT THAT: (i) THE INFORMATION AVAILABLE ON THE SERVICES IS FREE OF
          ERRORS; (ii) THE FUNCTIONS OR FEATURES (INCLUDING BUT NOT LIMITED TO
          MECHANISMS FOR THE DOWNLOADING AND UPLOADING OF CONTENT) WILL BE
          UNINTERRUPTED, SECURE, OR FREE OF ERRORS; (iii) DEFECTS WILL BE CORRECTED,
          OR (iv) THE SERVICES OR THE SERVER(S) THAT MAKE THE SERVICES AVAILABLE ARE
          FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. IN NO EVENT SHALL Capitol Zen
          OR ITS AFFILIATES, LICENSORS, VENDORS, OR ANY OF THEIR RESPECTIVE
          DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, OR OTHER REPRESENTATIVES BE LIABLE
          TO YOU OR ANY OTHER PERSON OR ENTITY FOR ANY INDIRECT, SPECIAL, INCIDENTAL,
          CONSEQUENTIAL, OR PUNITIVE DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES
          FOR LOSS OF PROFITS, LOSS OF DATA, LOSS OF USE, OR COSTS OF OBTAINING
          SUBSTITUTE GOODS OR SERVICES), ARISING OUT OF OR IN CONNECTION WITH THE
          SERVICES, ANY MATERIALS, INFORMATION, OR RECOMMENDATIONS APPEARING ON THE
          SERVICES, OR ANY LINK PROVIDED ON THE SERVICES, WHETHER OR NOT Capitol Zen
          HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND WHETHER BASED UPON
          WARRANTY, CONTRACT, TORT, STRICT LIABILITY, VIOLATION OF STATUTE, OR
          OTHERWISE. THIS EXCLUSION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT
          PERMITTED BY LAW. IN ANY EVENT, OUR AGGREGATE LIABILITY WILL NOT EXCEED THE
          AMOUNT PAID FOR THE PRODUCT OR SERVICE TO WHICH THE CLAIM RELATES OR, IF
          THE CLAIM DOES NOT RELATE TO A PRODUCT OR SERVICE, $100. Capitol Zen DOES
          NOT WARRANT, ENDORSE, GUARANTEE OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR
          SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SERVICES OR ANY
          WEBSITE FEATURED OR LINKED TO THROUGH THE SERVICES, AND Capitol Zen WILL
          NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY
          TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.
          Capitol Zen WILL NOT BE LIABLE FOR THE OFFENSIVE OR ILLEGAL CONDUCT OF ANY
          THIRD PARTY. YOU VOLUNTARILY ASSUME THE RISK OF HARM OR DAMAGE FROM THE
          FOREGOING. THE FOREGOING LIMITATIONS WILL APPLY EVEN IF A REMEDY FAILS OF
          ITS ESSENTIAL PURPOSE AND TO THE FULLEST EXTENT PERMITTED BY LAW. If you
          are a California resident, you hereby waive California Civil Code §1542,
          which says: “A general release does not extend to claims which the creditor
          does not know or suspect to exist in his favor at the time of executing the
          release, which if known by him must have materially affected his settlement
          with the debtor.” This release includes the criminal acts of others.
        </p>
        
        <p>
          9. EXCLUSIONS AND LIMITATIONS
        </p>
        
        <p>
          Some jurisdictions do not allow the exclusion of certain warranties or the
          limitation or exclusion of liability for incidental or consequential
          damages such as above in Section 8. Accordingly, some of the above
          limitations may not apply to you. If you are a New Jersey resident, or a
          resident of another state that permits the exclusion of these warranties
          and liabilities, then the limitations in Section 8 specifically do apply to
          you.
        </p>
        
        <p>
          10. INDEMNITY
        </p>
        
        <p>
          YOU AGREE TO INDEMNIFY, DEFEND, AND HOLD Capitol Zen AND ITS RESPECTIVE
          OFFICERS, DIRECTORS, EMPLOYEES, MEMBERS, SHAREHOLDERS, OR REPRESENTATIVES
          (AND ALL SUCCESSORS AND ASSIGNS OF ANY OF THE FOREGOING), HARMLESS FROM AND
          AGAINST ANY CLAIM OR DEMAND, INCLUDING WITHOUT LIMITATION, REASONABLE
          ATTORNEYS’ FEES AND DISBURSEMENTS, MADE BY ANY THIRD PARTY IN CONNECTION
          WITH OR ARISING OUT OF YOUR USE OF THE SERVICES, YOUR CONNECTION TO THE
          SERVICES, YOUR VIOLATION OF THE TERMS OR Capitol Zen PRIVACY POLICY, YOUR
          VIOLATION OF AN APPLICABLE LAW, YOUR SUBMISSION, POSTING, OR TRANSMISSION
          OF USER CONTENT TO THE SERVICES, AND/OR YOUR VIOLATION OF ANY RIGHTS OF
          ANOTHER. WE RESERVE THE RIGHT, AT OUR OWN EXPENSE, TO ASSUME THE EXCLUSIVE
          DEFENSE AND CONTROL OF SUCH DISPUTES, AND IN ANY EVENT YOU WILL COOPERATE
          WITH US IN ASSERTING ANY AVAILABLE DEFENSES.
        </p>
        
        <p>
          11. THIRD-PARTY LINKS AND SERVICES
        </p>
        
        <p>
          The Services may provide (1) information and content provided by third
          parties; (2) links to third-party websites or resources, such as sellers of
          goods and services; and (3) third-party products and services for sale
          directly to you. Capitol Zen is not responsible for the availability of
          such external sites or resources, and does not endorse and is not
          responsible or liable for (i) any content, advertising, products, or other
          materials on or available from such sites or resources, (ii) any errors or
          omissions in these websites or resources, or (iii) any information handling
          practices or other business practices of the operators of such sites or
          resources. You further acknowledge and agree that Capitol Zen shall not be
          responsible or liable, directly or indirectly, for any damage or loss
          caused or alleged to be caused by or in connection with use of or reliance
          on any linked sites or resources. Your interactions with such third parties
          will be governed by the third parties’ own terms of service and privacy
          policies, and any other similar terms.
        </p>
        
        <p>
          12. MODIFICATION AND TERMINATION
        </p>
        
        <p>
          12.1 Modification of Services. Capitol Zen reserves the right at any time
          to modify or discontinue, temporarily or permanently, the Services (or any
          part thereof), with or without notice. You agree that Capitol Zen shall not
          be liable to you or any third party for any modification, suspension or
          discontinuance of the Services.
        </p>
        
        <p>
          12.2 Termination. These Terms are effective unless and until terminated by
          you or us. We may, in our sole and absolute discretion, deny you access to
          all or part of the Services at any time for any or no reason at all, with
          or without notice to you. If we terminate your right to access the
          Services, these Terms will terminate and all rights you have to access the
          Services will immediately terminate; however, certain provisions of these
          Terms will still apply post termination, including without limitation, the
          Mandatory Arbitration and Class Action Waiver provisions. Termination of
          your account may also include, at Capitol Zen’s sole discretion, the
          deletion of your account and/or User Content.
        </p>
        <p>
          13. MANDATORY ARBITRATION AND CLASS ACTION WAIVER
        </p>
        
        <p>
          PLEASE READ THIS SECTION CAREFULLY. IT AFFECTS YOUR LEGAL RIGHTS, INCLUDING
          YOUR RIGHT TO FILE A LAWSUIT IN COURT.
        </p>
        
        <p>
          13.1 Application. You and Capitol Zen agree that these Terms affect
          interstate commerce and that the Federal Arbitration Act governs the
          interpretation and enforcement of these arbitration provisions. This
          Section 13 is intended to be interpreted broadly and governs any and all
          disputes between us including but not limited to claims arising out of or
          relating to any aspect of the relationship between us, whether based in
          contract, tort, statute, fraud, misrepresentation or any other legal
          theory; claims that arose before these Terms or any prior agreement
          (including, but not limited to, claims related to advertising); and claims
          that may arise after the termination of these Terms. The only disputes
          excluded from this broad prohibition are the litigation of certain
          intellectual property and small court claims, as provided below.
        </p>
        
        <p>
          13.2. Initial Dispute Resolution. Most disputes can be resolved without
          resort to arbitration. If you have any dispute with us, you agree that
          before taking any formal action, you will contact us at
          dispute-notice@capitolzen.com and provide a brief, written description of
          the dispute and your contact information (including your username, if your
          dispute relates to an account). Except for intellectual property and small
          claims court claims, the parties agree to use their best efforts to settle
          any dispute, claim, question, or disagreement directly through consultation
          with Capitol Zen, and good faith negotiations shall be a condition to
          either party initiating a lawsuit or arbitration.
        </p>
        
        <p>
          13.3 Binding Arbitration. If the parties do not reach an agreed-upon
          solution within a period of thirty (30) days from the time informal dispute
          resolution is initiated under the Initial Dispute Resolution provision
          above, then either party may initiate binding arbitration as the sole means
          to resolve claims, (except as provided in section 13.7 below) subject to
          the terms set forth below. Specifically, all claims arising out of or
          relating to these Terms (including the Terms’ formation, performance, and
          breach), the parties’ relationship with each other, and/or your use of
          Capitol Zen shall be finally settled by binding arbitration administered by
          the American Arbitration Association (“AAA”) in accordance with its
          Consumer Arbitration Rules. The AAA rules will govern payment of all
          arbitration fees. Capitol Zen will pay all arbitration fees for claims less
          than $75,000. If you receive an arbitration award that is more favorable
          than any offer we make to resolve the claim, we will pay you $1,000 in
          addition to the award. Capitol Zen will not seek its attorneys’ fees and
          costs in arbitration unless the arbitrator determines that your claim is
          frivolous.
        </p>
        
        <p>
          13.4 Arbitrator’s Powers. The arbitrator, and not any federal, state, or
          local court or agency, shall have exclusive authority to resolve all
          disputes arising out of or relating to the interpretation, applicability,
          enforceability, or formation of these Terms including but not limited to
          any claim that all or any part of these Terms is void or voidable, whether
          a claim is subject to arbitration, or the question of waiver by litigation
          conduct. The arbitrator shall be empowered to grant whatever relief would
          be available in a court under law or in equity. The arbitrator’s award
          shall be written and shall be binding on the parties and may be entered as
          a judgment in any court of competent jurisdiction.
        </p>
        
        <p>
          13.5 Filing a Demand. To start an arbitration, you must do the following:
          (a) Write a Demand for Arbitration (“Demand”) that (i) briefly explains the
          dispute, (ii) lists your and Capitol Zen’s names and addresses, (iii)
          specify the amount of money in dispute, if applicable, (iv) identify the
          requested location for a hearing if an in-person hearing is requested, and
          (v) state what you want in the dispute; (b) Send one copy of the Demand to
          the AAA, along with a copy of these Terms and the filing fee required by
          the AAA; and (c) Send one copy of the Demand for Arbitration to us at
          dispute-notice@capitolzen.com.
        </p>
        
        <p>
          The parties understand that, absent this mandatory arbitration provision,
          they would have the right to sue in court and have a jury trial. They
          further understand that, in some instances, the costs of arbitration could
          exceed the costs of litigation and the right to discovery may be more
          limited in arbitration than in court. If you are a resident of the United
          States, arbitration may take place in the county where you reside at the
          time of filing, unless you and we both agree to another location or
          telephonic arbitration. For individuals residing outside the United States,
          arbitration shall be initiated in San Francisco County, California, United
          States, and you and Capitol Zen agree to submit to the personal
          jurisdiction of any federal or state court in San Francisco County,
          California, United States, in order to compel arbitration, stay proceedings
          pending arbitration, or to confirm, modify, vacate, or enter judgment on
          the award entered by the arbitrator.
        </p>
        
        <p>
          13.6 Class Action Waiver. The parties further agree that the arbitration
          shall be conducted in the party’s respective individual capacities only and
          not as a class action or other representative action, and the parties
          expressly waive their right to file a class action or seek relief on a
          class basis. YOU AND Capitol Zen AGREE THAT EACH MAY BRING CLAIMS AGAINST
          THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF
          OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. If any
          court or arbitrator determines that the class action waiver set forth in
          this paragraph is void or unenforceable for any reason or that an
          arbitration can proceed on a class basis, then the arbitration provisions
          set forth above shall be deemed null and void in their entirety and the
          parties shall be deemed to have not agreed to arbitrate disputes.
        </p>
        
        <p>
          13.7 Exception: Litigation of Intellectual Property and Small Claims Court
          Claims. Notwithstanding the parties’ decision to resolve all disputes
          through arbitration, either party may bring enforcement actions, validity
          determinations or claims arising from or relating to theft, piracy or
          unauthorized use of intellectual property in state or federal court with
          jurisdiction or in the U.S. Patent and Trademark Office to protect its
          intellectual property rights (“intellectual property rights” means patents,
          copyrights, moral rights, trademarks, and trade secrets, but not privacy or
          publicity rights). Either party may also seek relief in small claims court
          in San Francisco, California for disputes or claims within the scope of
          that court’s jurisdiction.
        </p>
        
        <p>
          13.8 30-Day Right to Opt Out. You have the right to opt out and not be
          bound by the arbitration and class action waiver provisions set forth above
          by sending written notice of your decision to opt out to
          dispute-notice@capitolzen.com with the subject line, “ARBITRATION AND CLASS
          ACTION WAIVER OPT-OUT.” The notice must be sent within the later of 30 days
          of your first use of the Site or within 30 days of changes to this section
          being announced on the Site. Otherwise you shall be bound to arbitrate
          disputes in accordance with the terms of these paragraphs. If you opt out
          of these arbitration provisions, Capitol Zen also will not be bound by
          them.
        </p>
        
        <p>
          13.9 Changes to This Section. Capitol Zen will provide thirty (30) days’
          notice of any changes to this section by posting on the Services.
          Amendments will become effective thirty (30) days after they are posted on
          the Services or sent to you by email. Changes to this section will
          otherwise apply prospectively only to claims arising after the thirtieth
          (30th) day. If a court or arbitrator decides that this subsection on
          “Changes to This Section” is not enforceable or valid, then this subsection
          shall be severed from the section entitled Mandatory Arbitration and Class
          Action Waiver, and the court or arbitrator shall apply the first Mandatory
          Arbitration and Class Action Waiver section in existence after you began
          using the Services.
        </p>
        
        <p>
          13.10 Survival. This Mandatory Arbitration and Class Action Waiver section
          shall survive any termination of your use of the Services.
        </p>
        
        <p>
          14. CONTROLLING LAW AND SEVERABILITY
        </p>
        
        <p>
          These Terms shall be construed in accordance with and governed by the laws
          of California notwithstanding its conflicts of law principles. Any dispute
          arising out of these terms and conditions or the use of this site shall be
          initiated and conducted in the state or federal courts of Grand Rapids,
          Michigan, and you and Capitol Zen consent to the exclusive jurisdiction of
          such courts.
        </p>
        
        <p>
          15. GENERAL TERMS
        </p>
        
        <p>
          15.1 Force Majeure. Under no circumstances shall Capitol Zen or its
          licensor or supplier be held liable for any delay or failure in performance
          resulting directly or indirectly from an event beyond its reasonable
          control.
        </p>
        
        <p>
          15.2 No Waiver. No waiver of any provision of these Terms will be binding
          unless in writing, no waiver of any provisions of these Terms will be
          deemed a further or continuing waiver of such provision or any other
          provision, and the failure of Capitol Zen to exercise or enforce any right
          or remedy in these Terms does not waive that right or remedy. If an
          arbitrator or a court of competent jurisdiction finds any provision of
          these Terms to be invalid, the parties agree that the court should endeavor
          to give effect, to the maximum extent permitted by law, to the parties’
          intentions as reflected in the provision, and the other provisions of these
          Terms will remain in full force and effect.
        </p>
        
        <p>
          15.3 Third-Party Beneficiaries. You agree that, except as otherwise
          expressly provided in these Terms, there shall be no third-party
          beneficiaries to these Terms.
        </p>
        
        <p>
          15.4 Statute of Limitations. Except for residents of New Jersey, you agree
          that regardless of any statute or law to the contrary, any claim or cause
          of action arising out of or related to the use of the Services and/or these
          Terms must be filed within one (1) year after such claim or cause of action
          arose or be forever barred.
        </p>
        
        <p>
          15.5 Miscellaneous. These Terms (and all terms and conditions incorporated
          herein) constitute the entire agreement between you and Capitol Zen and
          govern your use of the Services, and supersede any prior agreements between
          you and Capitol Zen on the subject matter. These Terms, and any rights or
          licenses granted hereunder, may not be assigned or delegated by you. These
          Terms, and any rights or licenses granted hereunder, may be assigned or
          delegated by Capitol Zen without restriction. These Terms bind and inure to
          the benefit of each party and the party’s successors and permitted assigns.
          These Terms may not be modified by an oral statement by a representative of
          Capitol Zen. No agency, partnership, joint venture or employee-employer
          relationship is intended or created by these Terms. You agree that any
          agreements made by and between you and us in electronic form are as legally
          binding as if made in physical written form. If you are using the Services
          for or on behalf of the U.S. government, your license rights do not exceed
          those granted to non-government consumers. The section titles in these
          Terms are for convenience only and have no legal or contractual effect. Any
          provision of these Terms that by its nature is reasonably intended to
          survive beyond termination of these Terms shall survive.
        </p>
        
        <p>
          15.6 Notices. We may deliver notice to you by e-mail, posting a notice on
          the Services or any other method we choose and such notice will be
          effective on dispatch. If you give notice to us, it will be effective when
          received and you must use the following physical or email address: (1)
          Capitol Zen, Inc. 3924 Hollow Wood Dr; or (2)
          terms-questions@capitolzen.com.
        </p>
        
        <p>
          16. QUESTIONS
        </p>
        
        <p>
          If you have any questions about these Terms, please contact us at
          terms-questions@capitolzen.com.
        </p>
        <p>
          Privacy Policy
        </p>
        
        <p>
          Effective Date: November 14, 2017
        </p>
        
        <p>
          This Privacy Policy describes Capitol Zen’s practices regarding the
          collection, use and disclosure of the information we collect from and about
          you when you use Capitol Zen’s web-based and mobile applications and
          Capitol Zen’s websites (including Capitol Zen.com, wavelength.com,
          blog.Capitol Zen.com, community.Capitol Zen.com) that link to this Policy
          (the “Services”). By accessing or using the Services, you agree to this
          Privacy Policy, our Terms of Service, and our Acceptable Use Policy.
        </p>
        
        <p>
          IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT USE THE SERVICES.
        </p>
        
        <p>
          This Privacy Policy contains the following sections:
        </p>
        
        <ul>
          <li>
            <p>
              The Information We Collect
            </p>
          </li>
          <li>
            <p>
              How We Use Your Information
            </p>
          </li>
          <li>
            <p>
              Cookies and Similar Technologies
            </p>
          </li>
          <li>
            <p>
              Online Analytics and Advertising
            </p>
          </li>
          <li>
            <p>
              How We Share and Disclose Your Information
            </p>
          </li>
          <li>
            <p>
              Your Choices
            </p>
          </li>
          <li>
            <p>
              Third Party Links and Services
            </p>
          </li>
          <li>
            <p>
              Children’s Privacy
            </p>
          </li>
          <li>
            <p>
              International Users
            </p>
          </li>
          <li>
            <p>
              Your Rights
            </p>
          </li>
          <li>
            <p>
              How Long We Store Your Information
            </p>
          </li>
          <li>
            <p>
              Changes to Our Privacy Policy
            </p>
          </li>
          <li>
            <p>
              How We Protect Your Information
            </p>
          </li>
          <li>
            <p>
              California Privacy Rights
            </p>
          </li>
          <li>
            <p>
              Capitol Zen Contact Info
            </p>
          </li>
        </ul>
        
        <p>
          THE INFORMATION WE COLLECT
        </p>
        
        <p>
          Capitol Zen collects a variety of information that you provide directly to
          us. We process your information when necessary to provide you with the
          Services that you have requested when accepting our Terms of Service, or
          where we have obtained your prior consent, or where we have a legitimate
          interest to do so. For example, we may have a legitimate interest to
          process your information for security, testing, maintenance, and
          enhancement purposes of the Services we provide to you, or for analytics,
          research, and reporting purposes. Without your information, we cannot
          provide you with the Services you have requested or you may be limited in
          your use of the Services.
        </p>
        <p>
          1. Information You Provide to Us
        </p>
        
        <p>
          Capitol Zen collects information from you through:
        </p>
        
        <ul>
          <li>
            <p>
              Account and product registration and administration of your account
            </p>
          </li>
          <li>
            <p>
              The Capitol Zen Services that you use
            </p>
          </li>
          <li>
            <p>
              Requests or questions you submit to us via forms or email (e.g.,
              support forms, sales forms, user research participation forms)
            </p>
          </li>
          <li>
            <p>
              Your communications and dealings with us
            </p>
          </li>
          <li>
            <p>
              Your participation in Capitol Zen sweepstakes, contests, or
              research studies
            </p>
          </li>
          <li>
            <p>
              Uploads or posts to the Services
            </p>
          </li>
          <li>
            <p>
              Requests for customer support and technical assistance
            </p>
          </li>
        </ul>
        
        <p>
          Information from and about you. The types of information we collect will
          depend upon the Services you use, how you use them, and what you choose to
          provide. The types of data we collect directly from you may include: -
          Name, address, telephone number and email address - Optional information,
          such as a photograph, that you elect to associate with your account (your
          “Profile Information”) - Log-in details and password, if you create an
          Capitol Zen account - With your permission, calendar information stored on
          your mobile device - Any email requests or questions you submit to us -
          Demographic information such as your gender - User-generated content you
          post in public online Capitol Zen forums (e.g., the Capitol Zen Blog)
        </p>
        
        <p>
          Content. In using the Services, you may upload or input various types of
          content, including but not limited to: tasks, attachments, project names,
          team names, and conversations (together, the “Content”). If you are using
          the Services in connection with an account created by an Capitol Zen
          Customer (e.g., employer, organization, or an individual), we collect and
          process the Content you submit on behalf of the Customer. As described more
          throughout this Policy, our Customers, and not Capitol Zen, determine their
          own policies regarding storage, access, modification, deletion, sharing,
          and retention of Content which may apply to your use of the Services. For
          example, a Customer may provide or remove access to the Services, enable or
          disable third party integrations, manage permissions, retention and export
          settings, transfer or assign teams, or share projects. Please check with
          the Customer about the policies and settings that they have instituted with
          respect the Content that you provide when using the Services. Payment
          Information. If you are a user of our paid premium service, we will utilize
          a third party credit card payment processing company to collect payment
          information, including your credit card number, billing address and phone
          number. The third party service provider, and not Capitol Zen, stores your
          payment information on our behalf.
        </p>
        <p>
          Information about others. If you choose to use our invitation service to
          invite a friend to the Services, we will ask you for that person’s contact
          information, which may include their email address or their social network
          identity, and automatically send an invitation. Capitol Zen stores the
          information you provide to send the invitation, to register your friend if
          your invitation is accepted, and to track the success of our invitation
          service.
        </p>
        
        <p>
          2. Information We Automatically Collect
        </p>
        
        <p>
          When you use our Services that connect to the Internet, including, but not
          limited to, when you access the Services via our websites, your mobile
          devices, and Capitol Zen software/applications, we automatically collect
          certain information as described in this Section. As discussed further
          below, we and our service providers (which are third party companies that
          work on our behalf to provide and enhance the Services) use a variety of
          technologies, including cookies and similar tools, to assist in collecting
          this information.
        </p>
        
        <p>
          Log Files When you use the Services, our servers automatically record
          certain information in server logs. These server logs may include
          information such as your web request, Internet Protocol (“IP”) address,
          browser type and settings, referring / exit pages and URLs, number of
          clicks and how you interact with links on the Services, metadata associated
          with uploaded Content, domain names, landing pages, pages viewed, mobile
          carrier, date and time stamp information and other such information.
        </p>
        
        <p>
          Device Identifiers When you access the Services using a mobile device, we
          collect specific device information, including your MAC address and other
          unique device identifiers. We also collect information such as the type of
          device you are using, its operating system, and mobile network information,
          which may include your mobile phone number. We may associate this device
          identifier with your account and will use data associated with your device
          identifier to customize our Services to your device and to analyze any
          device-related issues.
        </p>
        
        <p>
          Location Information. We collect and process general information about the
          location of the device from which you are accessing the Service (e.g.,
          approximate geographic location inferred from an IP address).
        </p>
        
        <p>
          3. Information We Collect From Third-Party Integrations
        </p>
        
        <p>
          If you choose to use third-party integrations (e.g., OneDrive, Unito,
          Wufoo, Slack) through the Services or are required to do so by a Customer,
          such providers may allow us and our service providers to have access to and
          store additional information about your interaction with those services and
          platforms as it related to use of the Services. If you do not wish to have
          this information shared, do not initiate these connections.
        </p>
        
        <p>
          4. Information We Collect from Affiliates and Non-Affiliated Third Parties
        </p>
        
        <p>
          Capitol Zen may receive additional information about you, such as
          demographic information, from affiliates under common ownership and
          control, and from third parties, such as business partners, marketers,
          researchers, analysts, and other parties that we may use to supplement the
          information that we collect directly from you.
        </p>
        
        <p>
          5. Collection of Information Across Devices
        </p>
        
        <p>
          Sometimes, we may use the information we collect — for instance, usernames,
          IP addresses and unique mobile device identifiers — to locate or try to
          locate the same unique users across multiple browsers or devices (such as
          smartphones or tablets), or work with service providers that do this, in
          order to save your preferences across devices and analyze usage of the
          Services. If you wish to opt out of our ability to track you across
          devices, you may install the Google Analytics Opt-out Browser Add-on by
          clicking here.
        </p>
        <p>
          COOKIES AND SIMILAR TECHNOLOGIES
        </p>
        
        <p>
          To collect the information in the “Information We Automatically Collect”
          section above, we and our service providers use Internet server logs,
          cookies, tags, SDKs, tracking pixels, and other similar tracking
          technologies. A web server log is a file where website activity is stored.
          An SDK is a section of code that we embed in our applications and software
          to allow third parties to collect information about how users interact with
          the Services. A cookie is a small text file that is placed on your computer
          or mobile device when you visit a site, that enables us to: (i) recognize
          your computer and login session; (ii) store your preferences and settings;
          (iii) understand which web pages of the Services you have visited; (iv),
          enhance your user experience by delivering and measuring the effectiveness
          of content and advertising tailored to your interests; (v) perform
          analytics; and (vi) assist with security and administrative functions.
          Tracking pixels (sometimes referred to as web beacons or clear GIFs) are
          tiny electronic tags with a unique identifier embedded in websites, online
          ads and/or email, and that are designed to provide usage information like
          ad impressions or clicks, email open rates, measure popularity of the
          Services and associated advertising, and to access user cookies. As we
          adopt additional technologies, we may also gather information through other
          methods.
        </p>
        
        <p>
          Please note that you can change your settings to notify you when a cookie
          is being set or updated, or to block cookies altogether. Please consult the
          “Help” section of your browser for more information (e.g., Internet
          Explorer; Google Chrome; Mozilla Firefox; or Apple Safari).
        </p>
        <p>
          HOW WE USE YOUR INFORMATION
        </p>
        
        <p>
          We use your information (including any information that we collect, as
          described in this Privacy Policy) for various purposes depending on the
          types of information we have collected from and about you and the specific
          Capitol Zen Services you use, including to:
        </p>
        
        <ul>
          <li>
            <p>
              Complete a purchase or provide the services you have requested
            </p>
          </li>
          <li>
            <p>
              Respond to your request for information and provide you with more
              effective and efficient customer service
            </p>
          </li>
          <li>
            <p>
              Provide you with product updates and information about products you
              have purchased from us
            </p>
          </li>
          <li>
            <p>
              Provide you with service notifications via email and within the
              Services based on your notification selections
            </p>
          </li>
          <li>
            <p>
              Contact you by email, postal mail, or phone regarding Capitol Zen
              and third-party products, services, surveys, research studies,
              promotions, special events and other subjects that we think may be
              of interest to you
            </p>
          </li>
          <li>
            <p>
              Customize the advertising and content you see
            </p>
          </li>
          <li>
            <p>
              Help us better understand your interests and needs, and improve the
              Services
            </p>
          </li>
          <li>
            <p>
              Synthesize and derive insights from your use of different Capitol
              Zen products and services
            </p>
          </li>
          <li>
            <p>
              Engage in analysis, research, and reports regarding use of our
              Services
            </p>
          </li>
          <li>
            <p>
              Provide, manage, and improve the Services
            </p>
          </li>
          <li>
            <p>
              Protect our Services and our users
            </p>
          </li>
        </ul>
        <p>
          Understand and resolve app crashes and other issues being reported
        </p>
        
        <p>
          Content. You can exercise certain control how your Content is used
          by/shared with others via your settings on the Services. Capitol Zen may
          view and share your Content only as necessary (i) to maintain, provide and
          improve the Service; (ii) prevent or address technical or security issues
          and resolve support requests; (iii) if we have a good faith belief, or have
          received a complaint alleging, that such Content is in violation of our
          Acceptable Use Guidelines; (iv) as reasonably necessary to allow Capitol
          Zen to comply with or avoid the violation of applicable law or regulation;
          (v) to comply with a valid legal subpoena, request, or other lawful process
          that meets the requirements of our Law Enforcement Guidelines; and (vi) as
          set forth in our Subscription Agreement with the Customer or as expressly
          permitted in writing by the Customer. We may also analyze your User Content
          in aggregate and on an anonymized basis, in order to better understand the
          manner in which our Service is being used.
        </p>
        
        <p>
          Combined Information. You consent that, for the purposes discussed in this
          Policy, we may combine the information that we collect through the Services
          with information that we receive from other sources, both online and
          offline, and use such combined information in accordance with this Policy.
        </p>
        
        <p>
          Aggregate/De-Identified Data. We may aggregate and/or de-identify
          information collected through the Services so that such information can no
          longer be linked to you or your device (“Aggregate/De-Identified
          Information”). We may use Aggregate/De-Identified Information for any
          purpose, including without limitation for research and marketing purposes,
          and may also share such data with any third parties, including advertisers,
          promotional partners, sponsors, event promoters, and/or others. By using
          the Services, you consent to such use.
        </p>
        
        <p>
          ONLINE ANALYTICS AND ADVERTISING
        </p>
        
        <p>
          1. Analytics
        </p>
        
        <p>
          We use third-party web analytics services (e.g., Google Analytics) on our
          Services to collect and analyze the information discussed above, and to
          engage in auditing, research and reporting. The information (including your
          IP address) collected by various analytics technologies described in the
          “Cookies and Similar Technologies” section will be disclosed to or
          collected directly by these service providers, who use the information to
          evaluate your use of the Services, including by noting the third-party
          website from which you arrive, analyzing usage trends across Capitol Zen
          products and mobile devices, assisting with fraud prevention, and providing
          certain features to you. To prevent Google Analytics from using your
          information for analytics, you may install the Google Analytics Opt-out
          Browser Add-on by clicking here.
        </p>
        
        <p>
          If you receive email from us, we may use certain analytics tools, such as
          clear GIFs to capture data such as when you open our message or click on
          any links or banners our email contains. This data allows us to gauge the
          effectiveness of our communications and marketing campaigns.
        </p>
        
        <p>
          2. Online Advertising
        </p>
        
        <p>
          Third parties or affiliates may administer Capitol Zen banner advertising
          programs and other online marketing on non-Capitol Zen websites and
          services. To do so, these parties may set and access first-party cookies
          delivered from an Capitol Zen domain, or they may use third-party cookies
          or other tracking mechanisms. For example, a third-party provider may use
          the fact that you visited the Capitol Zen website to target online ads for
          Capitol Zen services to you on non-Capitol Zen websites. Or a third-party
          ad network might collect information on the Services and other websites to
          develop a profile of your interests and target advertisements to you based
          on your online behavior. These parties that use these technologies may
          offer you a way to opt out of ad targeting as described below. You may
          receive tailored advertising on your computer through a web browser.
        </p>
        
        <p>
          If you are interested in more information about tailored browser
          advertising and how you can generally control cookies from being put on
          your computer to deliver tailored advertising, you may visit the Network
          Advertising Initiative’s Consumer Opt-Out link or the Digital Advertising
          Alliance’s Consumer Opt-Out link to opt-out of receiving tailored
          advertising from companies that participate in those programs. To opt out
          of Google Analytics for display advertising or customize Google display
          network ads, you can visit the Google Ads Settings page. Please note that
          we do not control any of the above opt-out links or whether any particular
          company chooses to participate in these opt-out programs. We are not
          responsible for any choices you make using these mechanisms or the
          continued availability or accuracy of these mechanisms.
        </p>
        <p>
          3. Notice Concerning Do Not Track.
        </p>
        
        <p>
          There is no uniform or consistent standard or definition for responding to,
          processing, or communicating Do Not Track signals. At this time the
          Services do not function differently based on a user’s Do Not Track signal.
          For more information on Do Not Track signals, see All About Do Not Track.
        </p>
        <p>
          HOW WE SHARE YOUR INFORMATION
        </p>
        
        <p>
          Capitol Zen will share your information in the following ways:
        </p>
        
        <ul>
          <li>
            <p>
              Affiliates and Subsidiaries. We may share all information we
              collect within the Capitol Zen family of companies.
            </p>
          </li>
          <li>
            <p>
              Service Providers. We may provide access to or share your
              information with select third parties who perform services on our
              behalf. These third parties provide a variety of services to us,
              including without limitation billing, sales, marketing, provision
              of content and features, advertising, analytics, research, customer
              service, shipping and fulfillment, data storage, security, fraud
              prevention, payment processing, and legal services.
            </p>
          </li>
          <li>
            <p>
              Third-Party Integrations. When you initiate a connection with a
              third-party integration through the Services (e.g., OneDrive,
              Unito, Wufoo, Slack), we will share information about you that is
              required to enable your use of the third-party integration through
              the Services.
            </p>
          </li>
          <li>
            <p>
              Business Transfers. If the ownership of all or substantially all of
              our business changes, we may transfer your information to the new
              owner so that the Services can continue to operate. In such case,
              your information would remain subject to the promises and
              commitments contained in this Privacy Policy until such time as
              this Privacy Policy is updated or amended by the acquiring party
              upon notice to you. If such transfer is subject to additional
              mandatory restrictions under applicable laws, Capitol Zen will
              comply with such restrictions.
            </p>
          </li>
          <li>
            <p>
              Public Forums. The Services make it possible for you to upload and
              share comments or feedback publicly (i.e., outside of the Capitol
              Zen mobile and web app) with other users, such as on the Capitol
              Zen blog. Any information that you submit through such public
              features is not confidential, and Capitol Zen may use it for any
              purpose (including in testimonials or other Capitol Zen marketing
              materials). Any information you post openly in these ways will be
              available to the public at large and potentially accessible through
              third-party search engines. Such information can be read, collected
              and/or used by other users, and it could be used to send you
              unsolicited messages. Accordingly, please take care when using
              these features of the Services.
            </p>
          </li>
          <li>
            <p>
              Aggregate/De-Identified Information. From time to time, Capitol Zen
              may share Aggregate/De-Identified Information about use of the
              Services, such as by publishing a report on usage trends. As stated
              above, this Policy places no limitations on our use or sharing of
              Aggregate/De-Identified Information.
            </p>
          </li>
          <li>
            <p>
              Consent. We may also disclose your information to third parties
              with your consent to do so. For example, we will display your
              Profile Information on your profile page and elsewhere on the
              Services in accordance with the preferences you set in your
              account. You can review and revise your Profile information at any
              time.
            </p>
          </li>
        </ul>
        
        <p>
          YOUR CHOICES
        </p>
        
        <p>
          We provide you with a number of choices with respect to the information we
          collect and use as discussed throughout this Privacy Policy. For example: -
          You may instruct us not to use your contact information to contact you by
          email, postal mail or phone regarding products, services, promotions and
          special events that might appeal to your interests by contacting us – see
          the Capitol Zen Contact Info section below. In commercial email messages,
          you can also opt out by following the instructions located at the bottom of
          such emails. Please note that, regardless of your request, we may still use
          and share certain information as permitted by this Privacy Policy or as
          required by applicable law. For example, you may not opt out of certain
          operational or service-related emails, such as those reflecting our
          relationship or transactions with you. - Through your account interface,
          you may opt-out of receiving categories of Services-related notices that
          are not deemed by Capitol Zen to be integral to your use of the Services. -
          Depending on whether you are using our free services or are a user of a
          paid premium account that belongs to a Customer, you will have certain
          choices regarding how to make tasks, projects, and teams private. For more
          information on how this works, please see the “Permissions Section” of our
          help guide.
        </p>
        
        <p>
          THIRD PARTY LINKS AND SERVICES
        </p>
        
        <p>
          The Services contain links to third-party websites such as social media
          sites, and also contain third-party integrations. If you choose to use
          these sites or integrations, you may disclose your information not just to
          those third-parties, but also to their users and the public more generally
          depending on how their services function. Because these third-party
          websites and services are not operated by Capitol Zen, Capitol Zen is not
          responsible for the content or practices of those websites or services. The
          collection, use, and disclosure of your personal and other information will
          be subject to the privacy policies of the third party websites or services,
          and not this Policy. We urge you to read the privacy and security policies
          of these third-parties.
        </p>
        
        <p>
          CHILDREN’S PRIVACY
        </p>
        <p>
          The Services are intended for general audiences and not for children under
          the age of 13. If we become aware that we have collected personal
          information (as defined by the Children’s Online Privacy Protection Act)
          from children under the age of 13, we will take reasonable steps to delete
          it as soon as practicable
        </p>
        <p>
          
        </p>
        <p>
          INTERNATIONAL USERS
        </p>
        
        <p>
          Capitol Zen complies with the EU-US Privacy Shield Framework and the
          Swiss-US Privacy Shield Framework as set forth by the U.S. Department of
          Commerce regarding the collection, use, and retention of personal
          information from the European Union and Switzerland to the United States,
          respectively. Capitol Zen has certified to the Department of Commerce that
          it adheres to the Privacy Shield Principles of Notice, Choice,
          Accountability for Onward Transfer, Security, Data Integrity and Purpose
          Limitation, Access and Recourse, Enforcement and Liability. If there is any
          conflict between the policies in this privacy policy and the Privacy Shield
          Principles, the Privacy Shield Principles shall govern. To learn more about
          the Privacy Shield program, and to view our certification page, please
          visit https://www.privacyshield.gov/. In compliance with the EU-US Privacy
          Shield and Swiss-US Privacy Shield Principles, Capitol Zen commits to
          resolve complaints about your privacy and our collection or use of your
          personal information. European Union or Swiss citizens with inquiries or
          complaints regarding this privacy policy should first contact Capitol Zen
          at: privacy@CapitolZen.com. Capitol Zen has further committed to refer
          unresolved privacy complaints under the EU-US and Swiss-US Privacy Shield
          Principles to an independent dispute resolution mechanism, the BBB EU
          Privacy Shield, operated by the Council of Better Business Bureaus. If you
          do not receive timely acknowledgment of your complaint, or if your
          complaint is not satisfactorily addressed by Capitol Zen, please visit the
          BBB EU Privacy Shield web site at
          www.bbb.org/EU-privacy-shield/for-eu-consumers/ for more information and to
          file a complaint. Please note that if your complaint is not resolved
          through these channels, under limited circumstances, a binding arbitration
          option may be available before a Privacy Shield Panel. Capitol Zen is
          subject to the investigatory and enforcement powers of the Federal Trade
          Commission (FTC) with respect to its compliance with the provisions of the
          EU-US and Swiss-US Privacy Shield. We may transfer information that we
          collect about you to third party processors across borders and from your
          country or jurisdiction to other countries or jurisdictions around the
          world. If you are located in the European Union or other regions with laws
          governing data collection and use that may differ from U.S. law, please
          note that you are transferring information to a country and jurisdiction
          that does not have the same data protection laws as your jurisdiction.
          These third parties may have access to your information for the limited
          purpose of providing the service we have contracted with them to provide.
          They are required to have a privacy policy and security standards in place
          that are at least as protective of your information as is this Privacy
          Policy (including those provisions related to compliance with the EU-US and
          Swiss-US Privacy Shield). Capitol Zen will take reasonable and appropriate
          steps necessary to ensure that any third party who is acting as a “data
          processor” under EU and Swiss terminology is processing the personal
          information we entrust to them in a manner that is consistent with the
          EU-US and Swiss-US Privacy Shield Principles. Capitol Zen is potentially
          liable in cases of onward transfer to third parties of data of EU and Swiss
          individuals received pursuant to the EU-US and Swiss-US Privacy Shield,
          respectively.
        </p>
        
        <p>
          YOUR RIGHTS
        </p>
        
        <p>
          If you want to learn more about the information collected through the
          Services, or if you would like to access or rectify your information and/or
          request deletion of information we collect about you, or restrict or object
          to the processing of your information, please contact us using the contact
          information below. Where you have provided consent, you may withdraw your
          consent at any time, without affecting the lawfulness of the processing
          that was carried out prior to withdrawing your consent. If you are
          dissatisfied with the way we process your information, you may lodge a
          complaint with the data protection authority (“DPA”) in your jurisdiction.
          If you are a resident of France, your DPA is the Commission Nationale de
          l’Informatique et des Libertes (“CNIL”). If you are a resident of Germany,
          please see the DPA located in your particular state. If you are a resident
          of France, you may provide us with instructions regarding the manner in
          which we may continue to store, erase and share your information after your
          death, and where applicable, the person you have designated to exercise
          these rights after your death.
        </p>
        <p>
          HOW LONG WE STORE YOUR INFORMATION
        </p>
        
        <p>
          We will retain your information for the period necessary to fulfill the
          purposes outlined in this Policy unless a longer retention period is
          required or permitted by law.
        </p>
        <p>
          CHANGES TO OUR PRIVACY POLICY
        </p>
        
        <p>
          We reserve the right to amend this Policy at any time to reflect changes in
          the law, our data collection and use practices, the features of our
          Services, or advances in technology. We will make the revised Policy
          accessible through the Services, so you should review the Policy
          periodically. If we make a material change to the Policy, you will be
          provided with appropriate notice and we will seek your consent to the
          updated Policy in accordance with legal requirements.
        </p>
        <p>
          HOW WE PROTECT YOUR INFORMATION
        </p>
        
        <p>
          Capitol Zen takes technical and organizational measures to protect your
          personal data against accidental or unlawful destruction or accidental
          loss, alteration, unauthorized disclosure or access. However, no method of
          transmission over the Internet, and no means of electronic or physical
          storage, is absolutely secure, and thus we cannot ensure or warrant the
          security of that information. If you have any questions about security on
          our Services, you can contact us at security@capitolzen.com.
        </p>
        <p>
          CALIFORNIA PRIVACY RIGHTS
        </p>
        
        <p>
          California law gives residents of California the right under certain
          circumstances to request information from us regarding the manner in which
          we share certain categories of personal information (as defined by
          applicable California law) with third parties for their direct marketing
          purposes. However, Capitol Zen does not share your personal information
          with third parties for their own direct marketing purposes.
        </p>

      {{/b.body}}
    {{/ui/ui-box}}
  </div>
</div>