<div class="app flex-row align-items-center">
  <div class="container">
    <div class="col-6 offset-3">
      <div class="header">
        <h1>
          Capitol Zen
        </h1>
      </div>
      <div class="card">
        {{user/user-register}}
      </div>
    </div>
  </div>
</div>


