<div class="app flex-row align-items-center anon-wrapper">
  <div class="container">
    <div class="col-md-6 offset-md-3">
      <div class="anon-header">
        <h1>
          <img class="img-fluid w-50" src="/assets/images/capitolzenwordmark_logo.svg" alt="Capitol Zen">
          <span class="sr-only">Capitol Zen</span>
        </h1>
      </div>
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
      <div class="anon-content">
        {{anon/reset-password token=token}}
      </div>
    </div>
  </div>
</div>
