.card {
  margin-bottom: 1rem;
  box-shadow: $card-box-shadow;
  .card-title > a {
    &:hover {
      text-decoration: none;
    }
  }
}
.row-flex .card-body {
  flex-grow: 1;
}
.card-footer.card-footer-action {
  padding: 0;
  .btn {
    display: block;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
  }
}
