.card {
  margin-bottom: 1rem;
  box-shadow: $card-box-shadow;
  border: 0;
  .card-title > a {
    &:hover {
      text-decoration: none;
    }
  }
  .card-header {
    border-bottom: none;
    background: transparent;
  }
  .card-footer {
    border-top: none;
  }
}
.row-flex .card-body {
  flex-grow: 1;
}

.icon-box-50 {
  width: 100%;
  margin: 1rem 4%;
  //@include media-breakpoint-up(md) {
  //  width: 42%;
  //}
}

.card-footer.card-footer-action {
  padding: 0;
  .btn {
    display: block;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
  }
}

.sticky-element {
  z-index: 10;
}

.card.as-title {
  .body {
    padding: 6px;
  }
  .body > h1,
  .body > h2,
  .body > h3,
  .body > h4,
  .body > h5,
  .body > h6 {
    margin: 0;
  }
}
