//
// TABLE FILTERS
// -------------------------------------------------
.card-body .form-group > label {
  font-weight: bold;
  font-size: 12px;
}

.table-filters {
  display: flex;
  label {
    padding-right: 4px;
  }
  .form-group {
    margin-right: 10px;
    @include media-breakpoint-only(xs) {
      display: block;
      width: 100%;
    }
  }
  .table-filters-actions {
    margin-left: auto;
    .btn {
      margin-right: 10px;
    }
  }
  .ember-power-select-trigger {
    padding: 4px 5px !important;
  }

  .ember-basic-dropdown-trigger {
    width: 120px;
  }
}

.filter-button-wrapper {
  text-align: right;
  width: 100%;
  padding: 8px 0;
  .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

//
// AVATAR EDIT COMPONENT
// -------------------------------------------------
.avatar-edit-wrapper {
  .modal-dialog {
    margin-top: 140px;
  }
  .avatar-upload-selector {
    background: $gray-lightest;
    border: 1px dashed $gray-lighter;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    text-align: center;
    i {
      flex: 1;
      font-size: 3rem;
      color: $gray-lighter;
    }
  }
  .avatar-original-preview {
    max-width: 140px;
    height: auto;
  }
  .cropper-wrapper {
    max-width: 640px;
  }
  .image-cropper {
    max-width: 100%;
    max-height: 640px;
    img {
      max-width: 100%;
    }
  }
}

//
// MISC
// -------------------------------------------------
.card-body > form {
  .form-group {
    margin-bottom: 0;
  }
}
form .form-text {
  font-size: 0.8rem;
}
.form-control-feedback {
  font-size: 0.8rem;
}

.x-toggle-component {
  justify-content: flex-start !important;
}

.btn-default.active {
  background: $primary;
  color: #fff;
}

.btn-group-justified {
  display: flex;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}
