//
// App Layout
//////////////////////////////////////////
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > .ember-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-direction: row;
  flex-direction: column;
  overflow-x: hidden;
}

.app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.is-open > .bm-outlet {
  z-index: 100;
}

.nav-header {
  transition: 0.15s ease-in-out;
  height: 60px;
}

.ember-burger-menu.is-open {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.top-nav-position {
  top: 60px;
  @include media-breakpoint-down(md) {
    top: -60px;
  }
}

#settings-menu-open {
  z-index: 102;
}

.dynamic-nav-menu {
  a {
    color: white;
    font-weight: bolder;
  }
}
.bm-outlet {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ember-burger-menu > .bm-outlet > .bm-content {
  background: $body-bg;
  flex: 1;
  display: flex;
  flex-direction: column;
}

//
// Header
//////////////////////////////////////////
.hamburger-wrapper {
  z-index: 2;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #fff;
  padding: 0;
  display: flex;
  position: relative;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .brand {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.group-header {
  max-height: 100px;
}

.card-title {
  border-bottom: 1px solid $gray-lighter;
}

.header-button-trigger {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

//
// Footer
//////////////////////////////////////////
.footer {
  border-top: 1px solid $gray-lightest;
  font-size: 90%;
  margin-top: 30px;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 90%;
  padding: 4px;
}

.app-container {
  flex-grow: 1;
  @include media-breakpoint-up(md) {
    margin-top: 3rem;
    padding: 2rem 6rem;
  }

  @include media-breakpoint-up(lg) {
    padding: 1rem 10rem;
  }
}

//
// Search Navbar
//////////////////////////////////////////
.search-navbar {
  z-index: 100;
  padding: 0;
  flex-direction: row;
  .hamburger-wrapper {
    color: #fff;
  }
  .bill-search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    > div {
      width: 480px;
    }
    input {
      border: 1px solid $gray-lighter;
    }
    button {
      border: 1px solid $gray-lighter;
      color: $gray-dark;
      background: $gray-lightest;
    }
  }
  .dynamic-nav-menu {
    z-index: 102;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}

//
// Light table styling
//////////////////////////////////////////
.lt-head-wrap {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: $border-default;
}

.lt-foot-wrap {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: $border-default;
}

//
// Responsive
//////////////////////////////////////////
@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
  .app-container {
    padding: 2rem 6rem;
  }
}

@include media-breakpoint-up(lg) {
  .app-container {
    padding: 1rem 10rem;
  }
}

//
// Misc Fixes
//////////////////////////////////////////
.file-upload-container {
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  &.file-upload-valid {
    //border-color: $brand-success;
  }
}

.badge-republican {
  @include badge-variant(#dc3545);
}

.badge-democrat {
  @include badge-variant(#007bff);
}

#us_report_button {
  right: unset;
  left: 30px;
}

.card-body {
  @extend .card-block;
}

h1.page-title {
  font-weight: 300;
}
