.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > .ember-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-direction: row;
  flex-direction: column;
  overflow-x: hidden;
}

.app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}


.align-items-center {
  align-items: center !important;
}

.flex-row {
  flex-direction: row !important;
}

.header > h1 {
  text-align: center;
  margin-bottom:30px;
}

//
// Light table styling
//////////////////////////////////////////
.lt-head-wrap {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: $border-default;
}

.lt-foot-wrap {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: $border-default;
}