//
// Misc Fixes
//////////////////////////////////////////
.file-upload-container {
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  &.file-upload-valid {
    //border-color: $brand-success;
  }
}

.badge-republican {
  @include badge-variant(#dc3545);
}

.badge-democrat {
  @include badge-variant(#007bff);
}

#us_report_button {
  right: unset;
  left: 30px;
}

.help-modal {
  .card {
    margin: 0;
  }

  .card-body {
    padding: 1rem;
  }
}

.account-modal {
  .modal-content {
    width: 600px;
  }
}

.organization-modal {
  .nav-tabs {
  }
  .modal-body {
    padding: 15px 0 0 0;
  }
  .modal-content {
    width: 800px;
  }
}

.btn {
  cursor: pointer;
}

.modal.fade {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.bill-search-page {
  padding-top: 2rem;
  max-width: 1000px;
  form {
    padding: 2rem;
    box-shadow: 0px 0px 4px 0 #c4c4c4;
    background: #fff;
    border: 1px solid $gray-lightest;
  }
  input {
    font-size: 2rem;
  }
}

.invite-summary,
.user-summary {
  display: flex;
  align-items: center;
  .user-info {
    flex: 1;
    padding: 0 1rem;
    h6 {
      margin: 0;
    }
    p {
      font-size: 0.9rem;
      margin: 0;
    }
  }
  .user-avatar {
    display: inline-block;
    img {
      max-width: 65px;
      border-radius: 40px;
    }
  }
}

.no-things {
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.file-upload-modal {
  width: 90%;
  margin: 2rem auto;
  .file-upload-container {
    padding: 4rem;
  }
}
