//
// Misc Fixes
//////////////////////////////////////////
.file-upload-container {
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  &.file-upload-valid {
    //border-color: $brand-success;
  }
}

.badge-republican {
  @include badge-variant($republican);
}

.badge-democrat {
  @include badge-variant($democrat);
}

.text-democrat {
  color: $democrat !important;
}

.text-republican {
  color: $republican !important;
}

#us_report_button {
  right: unset;
  left: 30px;
}

.help-modal {
  .card {
    margin: 0;
  }

  .card-thumbnail {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 3rem;
    flex: 1;
    text-align: center;
    i {
      font-size: 5rem;
      flex: 1;
      display: inline-block;
    }
  }

  .card-header {
    text-align: center;
  }

  .card-body {
    padding: 1rem;
    text-align: center;
  }

  .card-footer {
    text-align: center;
  }
}

.account-modal {
  .modal-content {
    width: 600px;
  }
}

.organization-modal {
  .nav-tabs {
  }
  .modal-body {
    padding: 15px 0 0 0;
  }
  .modal-content {
    width: 800px;
  }
}

.btn {
  cursor: pointer;
}

.modal.fade {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.bill-search-page {
  padding-top: 2rem;
  max-width: 1000px;
  form {
    padding: 2rem;
    box-shadow: 0px 0px 4px 0 #c4c4c4;
    background: #fff;
    border: 1px solid $gray-lightest;
  }
  input {
    font-size: 2rem;
  }
}

.invite-summary,
.user-summary {
  display: flex;
  align-items: center;

  @include media-breakpoint-down('sm') {
    flex-direction: column;
    text-align: center;
    > div {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .user-info {
    flex: 1;
    padding: 0 1rem;
    h6 {
      margin: 0;
    }
    p {
      font-size: 0.9rem;
      margin: 0;
    }
  }
  .user-avatar {
    display: inline-block;
    img {
      max-width: 65px;
      border-radius: 40px;
    }
  }
}

.no-things {
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.file-upload-modal {
  width: 90%;
  margin: 2rem auto;
  .file-upload-container {
    padding: 4rem;
  }
}

.state-select {
  display: block;
  .btn {
    margin: 2px;
    font-size: 0.85rem;
    width: 49%;
    padding: 0;
    @include media-breakpoint-up(md) {
      width: 16%;
      padding: 0.375rem 0.75rem;
    }
  }
}

td .btn-group {
  a,
  .btn {
    margin-left: 6px !important;
    border-radius: $btn-border-radius !important;
  }
}

.nav-tabs {
  @include media-breakpoint-only('xs') {
    .nav-item {
      flex: 1 1 auto;
      text-align: center;
    }
  }
}

/**
 * hacky fix because I can't figure out how to for real remove it from the
 * impagniation dataset
 */
.action-summary {
  &.dismissed {
    display: none;
  }
}

.smaller-text {
  font-size: 0.85rem;
}

[data-ember-action]:not(:disabled) {
  cursor: pointer;
}

.help-modal > .modal-lg {
  min-width: 50%;
}

.form-group-info {
  label {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
  }
  .form-group-info-content {
    font-size: 0.85rem;
  }
}

//
// Subscription Styling
//////////////////////////////////////////
.subscription-plan {
  .card-body {
    padding: 0;
  }
  .subscription-icon {
    padding: 2rem;
    background: $gray-lightest;
    color: $primary;
    text-align: center;
    i {
      font-size: 4rem;
    }
  }
  .card-title {
    text-align: center;
    padding: 1rem;
  }
  .plan-points {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    li.list-group-item {
      border-left: none;
      border-right: none;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    i {
      font-size: 1.2rem;
      position: relative;
      top: 0.2rem;
      &.fa-times-circle-o {
        color: $danger;
      }
      &.fa-check-circle-o {
        color: $success;
      }
    }
  }
  .plan-cost {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .plan-action {
    text-align: center;
    padding: 0.5rem;
  }

  &.selected {
    border-color: $primary;
  }
}

#us_report_button {
  display: none !important;
}

.nav.nav-tabs .nav-link.active {
  box-shadow: none;
}
