//
// Light table styling
//////////////////////////////////////////
.lt-head-wrap {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: $border-default;
}

.lt-foot-wrap {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: $border-default;
}

.lt-body {
  .lt-row {
    //padding: ($spacer-y *.5) ($spacer-x * .5) !important;

    &:hover {
      background-color: $cz-white;
    }

    &.is-expanded {
      border-top: 1px solid $cz-navy;
      &:hover {
        background-color: transparent !important;
      }
    }

    &.is-selected {
      background-color: $selected-table-bg;
    }

    &.lt-expanded-row {
      border-top: 0;
      border-bottom: 1px solid $cz-navy;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}

//
// Bill table filters
//////////////////////////////////////////

.bill-table-date-filter {
  min-width: 4rem;
}

.power-select-group-wrapper {
  .ember-power-select-trigger {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
  }
}

.table-image-placeholder {
  border-radius: 50%;
  background-color: $gray-lightest;
  border: 1px solid $gray-lighter;
  padding: 2rem;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
