.__mobiledoc-editor {
  font-family: $font-family-base;
  font-size: 1rem;
}

.note-editor {
  border: 1px solid $cz-grey-lt;
  background: $cz-grey-lt;
}

.note-editor .toolbar {
  @include box-shadow;
}

.bg-faded {
  background: transparent;
}

.note-edit-button {
  padding-bottom: 0;
}

.note-component {
  @extend .bg-faded;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.25rem;
  border-radius: $border-radius;
  &.note-editing {
    background: transparent;
  }
}

.note-editor .mobiledoc-editor__editor-wrapper {
  @extend .bg-faded;
  padding: 0.25rem 1rem;
}

.note-editor .toolbar {
  background: white;
  border-top: 2px solid $cz-grey-lt;
  border-bottom: 1px solid $cz-grey-lt;
}

.note-add-wrapper {
  box-shadow: 0 0 4px 0 #c4c4c4;
}

.note-component .note-edit-button {
  visibility: hidden;
}

.note-component:hover .note-edit-button {
  visibility: visible;
}
