.__mobiledoc-editor {
  font-family: $font-family-base;
  font-size: 1rem;
}

.note-editor {
  border-top: 2px solid $cz-grey;
  background: $cz-grey-lt;
}

.note-editor .toolbar {
  @include box-shadow;
}

.note-component {
  @extend .bg-faded;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1.25rem;
  border-radius: $border-radius;
}

.note-editor .mobiledoc-editor__editor-wrapper {
  @extend .bg-faded;
  padding: 0.25rem 1rem;
}

.note-editor .toolbar {
  background: white;
  border-top: 2px solid $cz-grey;
  border-bottom: 2px solid $cz-grey;
}

.note-add-wrapper {
  box-shadow: 0px 0px 4px 0 #c4c4c4;
}

.note-component .note-edit-button {
  visibility: hidden;
}

.note-component:hover .note-edit-button {
  visibility: visible;
}
