.align-items-center {
  align-items: center !important;
}

.row-flex {
  > div {
    display: flex;
    > div {
      flex: 1;
    }
  }
}

.flex-row {
  flex-direction: row !important;
}

.no-padding {
  padding: 0;
}

.modal-center.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ember-light-table table {
  @include media-breakpoint-only(xs) {
    font-size: 0.7rem;
  }
}

.avatar-rounded img {
  border-radius: 100%;
}

.bg-0 {
  background: transparent !important;
}
