.align-items-center {
  align-items: center !important;
}

.row-flex {
  > div {
    display: flex;
    > div {
      flex: 1;
    }
  }
}

.flex-row {
  flex-direction: row !important;
}

.no-padding {
  padding: 0;
}

.modal-center.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ember-light-table table {
  @include media-breakpoint-only(xs) {
    font-size: 0.7rem;
  }
}

.content-bootstrap-feel {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 5px;
  margin: 2px 0 0;
}
