<div class="row">
  <div class="col-md-12">
    <div class="activity-list-content">
      {{#each activities as |activity|}}
        {{timeline/timeline-activity-summary activity=activity format="full"}}
      {{/each}}
    </div>
  </div>
</div>
