{{ui-page-property "Edit Billing Information" property="title"}}
<div class="row">
  <div class="col-md-6 offset-md-3">
    {{organization/-billing/information organization=model}}
    {{organization/-billing/card organization=model}}
  </div>
</div>

