{{ui-page-property "Add Page" model.group.title property="title"}}

{{#global/page-title-actions}}
  {{#link-to "page-admin.index"}}All Pages{{/link-to}}
{{/global/page-title-actions}}
<div class="container">
    {{pages/page-form page=model}}
</div>
