{{ui-page-property "Edit " model.group.title property="title"}}
{{#global/page-title-actions}}
  {{#link-to "page-admin.updates" model.id}}{{fa-icon "paper-plane"}} Send Update{{/link-to}}
{{/global/page-title-actions}}
<div class="row">
  <div class="col-md-8 offset-md-2">
    {{pages/page-form page=model}}
  </div>
</div>