{{ui-page-property "Pages" model.group.title property="title"}}

{{#global/page-title-actions}}
  {{#link-to "page-admin.add"}}{{fa-icon "plus"}} Add Page{{/link-to}}
{{/global/page-title-actions}}
<div class="container">
  {{pages/-admin/list params=(hash search=search group=group published=published visibility=visibility)}}
</div>
