{{ui-page-property model.title property="title"}}

{{#global/page-title-actions}}
  {{#link-to "page.update" model.page.id model.id}}{{fa-icon "laptop"}} View{{/link-to}}
  {{#link-to "page-admin.updates" model.page.id}}{{fa-icon "list-alt"}} Updates{{/link-to}}
{{/global/page-title-actions}}

<div class="container">
  {{updates/update-form update=model}}
</div>