<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="notification-list-content">
      {{#each notifications as |notification|}}
        {{notification/notification-summary notification=notification format="full"}}
      {{/each}}
    </div>
  </div>
</div>
