{{#ui/ui-box as |b|}}
  {{#b.header}}
    Guest Accounts
  {{/b.header}}
  {{#b.body}}

  {{/b.body}}
  {{#b.footer}}
    {{#bs-button onClick=(action (mut modal) true) type="primary"}}
      {{fa-icon "users"}} Add Contact
    {{/bs-button}}
  {{/b.footer}}
{{/ui/ui-box}}


{{#bs-modal open=modal onSubmit=(action "submit") onHidden=(action (mut modal) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Add Guest Account
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{groups/-users/form group=group onSubmit=(action "submit") modal=true}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button type="primary" onClick=(action modal.submit)}}Save{{/bs-button}}
    {{#bs-button onClick=(action modal.close) type="link"}}Cancel{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}