{{!--
Global page elements wrapper.
--}}
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <h1 class="page-title">{{uiGlobal.pageTitle}}</h1>
      <div class="text-muted page-desc">{{uiGlobal.pageDescription}}</div>
    </div>
    <div class="col-5 page-header-actions" id="page-header-actions">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    {{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true crumbClass="breadcrumb-item"}}
    </div>
  </div>
</div>

