<div class="footer">
  <span class="mx-2">Copyright {{moment-format (now) "YYYY"}} Capitol Zen</span>

  {{#link-to "anon.legal" class="mx-2"}}Terms{{/link-to}}
  {{#link-to "anon.privacy" class="mx-2"}}Privacy{{/link-to}}
</div>



