{{#bs-modal class="help-modal modal-center" open=open size="lg" onHidden=onHidden as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title text-center">
      Get Help
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <div class="row row-flex justify-content-between">
      <div class="col-6">
        <div class="card text-center">
          <div class="card-header">
            Chat Live
          </div>
          <div class="card-body">
            <p class="card-text">Send us a message and we'll get back with you asap.</p>
          </div>
          <div class="card-footer card-footer-action">
            {{#bs-button type="primary" onClick=(action "triggerChat")}}Chat Now{{/bs-button}}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card text-center">
          <div class="card-header">
            Report Problem
          </div>
          <div class="card-body">
            <p class="card-text">Report a problem and we'll fix it right away!</p>
          </div>
          <div class="card-footer card-footer-action">
            {{#bs-button onClick=(action "triggerFeedback")}}Give Feedback{{/bs-button}}
          </div>
        </div>
      </div>
    </div>
  {{/modal.body}}
{{/bs-modal}}