{{#bs-modal class="help-modal modal-center" open=open size="lg" onHidden=onHidden as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title text-center">
      Need Help?
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#bs/list-group as |g|}}
      {{#g.item tagName="div" class="d-flex justify-content-between"}}
        {{#bs-button type="primary" onClick=(action "triggerChat")}}Chat Now{{/bs-button}}
        <span>Send us a message and we'll respond ASAP</span>
      {{/g.item}}
      {{#g.item tagName="div" class="d-flex justify-content-between"}}
        <a class="btn btn-outline-secondary" href="http://help.capitolzen.com">Knowledge Base</a>
        <span>Search and read all of our help materials</span>
      {{/g.item}}
      {{#g.item class="d-flex justify-content-between"}}
        {{#bs-button type="outline-secondary" onClick=(action "triggerFeedback")}}Give Feedback{{/bs-button}}
        <span>Report a problem and we'll fix it right away!</span>
      {{/g.item}}
    {{/bs/list-group}}
  {{/modal.body}}
{{/bs-modal}}