{{#ember-wormhole to="page-header-actions"}}
  {{#if media.isMobile}}
    {{#bs-dropdown class="mobile-header-actions" as |dd|}}
      {{#dd.button type="primary"}}
        {{fa-icon "plus"}}
      {{/dd.button}}
      {{#dd.menu as |ddm|}}
        {{#ddm.item}}
          <div>
            {{yield}}
          </div>
        {{/ddm.item}}
      {{/dd.menu}}
    {{/bs-dropdown}}
  {{else}}
    <div>
      {{yield}}
    </div>
  {{/if}}

{{/ember-wormhole}}