.pages-page-header {
  background-color: $card-bg !important;
}

.page-update-list {
  height: 50vh;
}

.page-admin {
  text-align: center;
  .admin-menu-toggle {
    display: inline-block;
    background: #fff;
    padding: 5px 30px;
    font-weight: bold;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
