.page-masthead {
  background: #fff;
  position: relative;
  height: 240px;
  .masthead-logo {
    position: absolute;
  }
}

.pages-page-header {
  padding: 0;
  background: #fff !important;
  height: 70px;
  margin-top: 100px;
  .navbar-brand {
    h3 {
      display: inline-block;
      margin: 0 0 0 10px;
      font-weight: normal;
    }
  }
  .navbar-nav .nav-link {
    padding: 25px 5px;
    margin-left: 15px;
  }
}

.page-update-list {
  height: 50vh;
}

.page-admin {
  text-align: center;
  .admin-menu-toggle {
    display: inline-block;
    background: #fff;
    padding: 5px 30px;
    font-weight: bold;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
