//
// OVERRIDDEN VARIABLES
// -------------------------------------------------

// Settings
$enable-rounded: true;
$enable-shadows: false;

$cz-white: #f5f5f5;
$cz-grey-lt: #e3e1e3;
$cz-grey: #666564;
$cz-navy: #28385e;
$cz-green: #009e83;

$gray-lighter: $cz-grey-lt;
$gray-lightest: $cz-white;
$primary: $cz-green;
$success: $cz-navy;
$light: $cz-grey;

$body-bg: $cz-white;
$link-color: $cz-navy;

$font-weight-normal: 300;

$border-radius: 0.2rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.25rem;

//
// CUSTOM VARIABLES
// -------------------------------------------------
$border-default: 1px solid $gray-lighter;
