{{ui-page-property model.name property="title"}}
{{#global/page-title-actions}}
  {{#link-to "files.upload"}}{{fa-icon "upload"}} Upload{{/link-to}}
{{/global/page-title-actions}}

<div class="row">
  <div class="col-md-8 offset-md-2">
    {{files/file-card model}}
  </div>
</div>
