<div class="row my-2">
  <div class="col-md-4">
    <div class="btn-group">
      {{#link-to "bills.detail" row.id class="btn btn-secondary"}}View{{/link-to}}
      {{bills/add-to-group bills=row size="sm"}}
    </div>
  </div>
  <div class="col-md-4">
    <h6>Summary:</h6>
    <p>{{row.summary}}</p>
  </div>
  <div class="col-md-4">
    <h6>Affected Section</h6>
    <p>{{row.affectedSecion}}</p>
  </div>
</div>
