{{ui-page-property "Labs - Editor" property="title"}}

<div class="row">
  <div class="col-md-6 offset-md-3">
    {{#ui/ui-box as |b|}}
      {{#b.body}}
        {{cz-koenig-editor}}
      {{/b.body}}
    {{/ui/ui-box}}
  </div>
</div>
