{{ui-page-property "Add Page" model.group.title property="title"}}

{{#global/page-title-actions}}


{{/global/page-title-actions}}
{{log model}}
<div class="row">
  <div class="col-md-8 offset-md-2">
    {{pages/page-form page=model.page}}
  </div>
</div>
