<a href="{{row.url}}" class="btn btn-primary text-white" target="_blank"> {{fa-icon "download"}} Download</a>
{{#bs/link-button 'files.detail' row.id type="secondary"}} {{fa-icon "view"}} View {{/bs/link-button}}
