{{ui-page-property "Billing" property="title"}}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Thank you!</h1>
    <p class="lead">
      Capitol Zen is currently in beta and during this time period it is free to use.
    </p>
  </div>
</div>