{{ui-page-property "Team" property="title"}}
{{ui-page-property model.organization.name property="description"}}


<div class="row">
  <div class="col-lg-8 offset-lg-2">
    {{organization/organization-invites organization=model.organization invites=model.invites users=model.users}}
  </div>
</div>



