{{ui-page-property "Team" property="title"}}

<div class="row">
  <div class="col-xl-8 offset-xl-2">
    {{#bs-tab as |tab|}}
      {{#tab.pane title="Users"}}
        {{#ui/ui-box as |b|}}
          {{#b.body}}
            {{organization/-team/user-list}}
          {{/b.body}}
        {{/ui/ui-box}}
      {{/tab.pane}}
      {{#tab.pane title="Unclaimed Invites"}}
        {{#ui/ui-box as |b|}}
          {{#b.body}}
            {{organization/-team/invite-list}}
          {{/b.body}}
        {{/ui/ui-box}}
      {{/tab.pane}}
    {{/bs-tab}}
  </div>
</div>
