{{#if isEditing}}
  <div class="col-12">
    {{#power-select
      options=filterTypes
      selected=queryType
      searchEnabled=false
      onchange=(action (mut queryType))
    as |query|}}
      {{query.label}}
    {{/power-select}}
  </div>

{{/if}}

<div class="col-12 mt-2">
  {{#unless isEditing}}
    <button type="button" class="close" aria-label="Close" {{action "deleteValue"}}>
      <span aria-hidden="true">&times;</span>
    </button>
  {{/unless}}

  {{component selectedComponent value=value isEditing=isEditing update=(action "updateValue")}}
</div>