{{#ui/ui-box as |b|}}
  {{#b.header class="bg-warning"}}
    A Problem Occurred
  {{/b.header}}
  {{#b.body}}
    <p>We're sorry, but we're having a problem with our trivia provider, you'll have to actually do something...</p>
  {{/b.body}}
{{/ui/ui-box}}