{{#each results as |bill|}}
  {{bills/bill-preview bill=bill class="mb-2"}}
{{else}}
  {{#if searchTerms}}
    <p class="text-center"><em>No results matching <code>{{searchTerms}}</code> </em></p>
  {{else}}
    <p class="text-center">Enter a search term to get started</p>
  {{/if}}
{{/each}}