<h3>Welcome {{userName}}!</h3>
<p class="lead"><em>What's happening now:</em></p>
<hr class="mb-2">
<div class="row">
  <div class="col-md-6">
    <h4>Quick Links</h4>
    <div class="list-group">
      {{#link-to "bills.saved" class="list-group-item list-group-item-action"}}Watched Bills{{/link-to}}
      {{#link-to "bills.search" class="list-group-item list-group-item-action"}}Search Bills{{/link-to}}
      {{#link-to "organization.team" class="list-group-item list-group-item-action"}}My Team{{/link-to}}
    </div>

  </div>
  <div class="col-md-6">
    <h4>My Clients</h4>
    {{#each queriedGroup as |group|}}
      {{groups/group-preview group=group size="full"}}
    {{/each}}
  </div>

</div>
