{{#bs-modal class="account-modal modal-center" onSubmit=(action "submit") open=open size="lg" onHidden=onHidden as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title text-center">
      My Account
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#bs-form model=changeset onSubmit=(action "submit") as |form|}}
      {{form.element controlType="textfield" label="Name" property="name" required=true}}
      {{form.element controlType="email" label="Email" placeholder="Email" property="username" required=true}}
    {{/bs-form}}
  {{/modal.body}}
  {{#modal.footer as |footer|}}
    {{#bs-button onClick=(action modal.close) type="danger"}}Cancel{{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="success"}}Save{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}