
{{#bs-navbar class="pages-page-header" as |navbar|}}
  <div class="container">
    <div class="navbar-header">
    {{navbar.toggle}}
      {{#link-to "page.updates" page.id}}
        <div class="navbar-brand">
          {{ember-initials
            image=page.group.avatar
            name=page.group.title
            defaultName="?"
            seedText=page.group.title
            textColor="white"
            fontSize=45
            fontWeight=100
            fontFamily="Helvetica Neue Light, Arial, sans-serif"
            size=75
            class="img-thumbnail"
          }}
        </div>
      {{/link-to}}
    </div>
    {{#navbar.content class="justify-content-md-end"}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to "page.updates" page.id class="font-weight-bold"}}Updates{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "page.bills" page.id class="font-weight-bold"}}Saved Bills{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  </div>
{{/bs-navbar}}

{{#if showContextMenu}}
  <div class="container page-admin">
    {{#bs-dropdown as |dd|}}
      {{#dd.toggle class="admin-menu-toggle"}}Manage Page <span class="caret"></span>{{/dd.toggle}}
      {{#dd.menu as |ddm|}}
        {{#ddm.item}}{{#ddm.link-to "app"}}Home{{/ddm.link-to}}{{/ddm.item}}
        {{#ddm.item}}{{#ddm.link-to "page-admin.updates" page.id}}Post Update{{/ddm.link-to}}{{/ddm.item}}
        {{#ddm.item}}{{#ddm.link-to "page-admin.detail" page.id}}Edit{{/ddm.link-to}}{{/ddm.item}}
      {{/dd.menu}}
    {{/bs-dropdown}}
  </div>
{{/if}}