

{{#bs-navbar as |navbar|}}
  <div class="container">
    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "page.updates" page.id class="navbar-brand"}}
        {{ember-initials
          image=page.organization.avatar
          name=page.organization.name
          defaultName="?"
          seedText=page.group.title
          textColor="white"
          fontSize=45
          fontWeight=100
          fontFamily="Helvetica Neue Light, Arial, sans-serif"
          size=40
          class="img-thumbnail rounded-circle"
        }}
        {{page.organization.name}}

      {{/link-to}}
    </div>
    {{#navbar.content class="justify-content-md-end"}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to "page.updates" page.id class="font-weight-bold"}}Updates{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "page.bills" page.id class="font-weight-bold"}}Saved Bills{{/nav.link-to}}{{/nav.item}}
        {{#unless isGuest}}
          {{#nav.dropdown as |dd|}}
            {{#dd.toggle}}Admin <span class="caret"></span>{{/dd.toggle}}
            {{#dd.menu as |ddm|}}
              {{#ddm.item}}{{#ddm.link-to "app"}}Home{{/ddm.link-to}}{{/ddm.item}}
              {{#ddm.item}}{{#ddm.link-to "groups.detail.pages" page.group.id}}Post Update{{/ddm.link-to}}{{/ddm.item}}
              {{#ddm.item}}{{#ddm.link-to "groups.detail" page.group.id}}Edit{{/ddm.link-to}}{{/ddm.item}}
            {{/dd.menu}}
          {{/nav.dropdown}}
        {{/unless}}

      {{/navbar.nav}}
    {{/navbar.content}}
  </div>

{{/bs-navbar}}

