{{ui-page-property "Create New" feature.clientLabel property="title"}}
<div class="row">
  <div class="col-md-6 offset-md-3">
    {{groups/group-form groupAction="createGroup" group=model.group organization=model.organization}}
  </div>
</div>
