{{ui-page-property "Create New Client" property="title"}}
<div class="row">
  <div class="col-md-6 offset-md-3">
    {{groups/group-form groupAction="createGroup" model=model.group group=model.group organization=model.organization isEditing=true toggleEnabled=false}}
  </div>
</div>
