<div class="row">
  {{#each model as |group|}}
    <div class="col-lg-6 mt-md-3">
      <div class="card">
        {{#if group.logo}}
          <img src="{{group.logo}}" alt="" class="card-img-top">
        {{/if}}
        <div class="card-block">
          <h4 class="card-title">{{group.title}}</h4>
          {{#if group.description}}
            <p class="card-text">{{group.description}}</p>
          {{/if}}
          {{#link-to "groups.detail" group.id}}View{{/link-to}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

