{{ui-page-property "Clients" property="title"}}

{{#link-to "groups.add" class="btn btn-primary"}}Add Client{{/link-to}}
<div class="row mt-1">
  {{#each model as |group|}}
    {{groups/group-preview group=group}}
  {{/each}}
</div>

