<div class="btn-group btn-group-sm" role="group" aria-label="Bill Actions">
  {{#link-to "reports.detail" row.id class="btn btn-primary btn-sm"}}
    {{fa-icon "eye" class="d-block d-sm-none mt-1"}}
    <span class="d-none d-sm-block">View</span>
  {{/link-to}}
  {{#reports/report-download report=row type="outline-secondary" size="btn-sm" class="d-none d-sm-block"}}
    {{fa-icon "cloud-download"}}
  {{/reports/report-download}}
  {{#reports/report-send report=row type="outline-secondary" size="btn-sm"}}
    {{fa-icon "envelope"}}
  {{/reports/report-send}}
</div>

