{{#ui/ui-box as |b|}}
{{#b.header}}{{bill.stateId}} <small>{{bill.sponsor.fullName}}</small>{{/b.header}}
{{#b.body}}
  <p>{{bill.title}}</p>
{{/b.body}}
{{#b.footer class="d-flex justify-content-around"}}
    {{bills/add-to-group bills=bill buttonType="link" fullWidth=false}}
    {{#link-to "bills.detail" bill.id class="btn btn-link"}}View{{/link-to}}
{{/b.footer}}
{{/ui/ui-box}}
