<h5>History</h5>
<div class="list-group">
  {{#each bill.history as |history|}}
    <div class="list-group-item justify-content-between">
      {{history.action}}
      {{history.date}}
    </div>
  {{/each}}
</div>

