
<div class="btn-group btn-group-sm mr-3" role="group" aria-label="Bill Actions">
  {{#link-to "bills.detail" row.id class="btn btn-primary btn-sm"}}View{{/link-to}}
  {{bills/add-to-group bill=row.content buttonSize="sm" displayText=false menuAlign="right"}}
</div>