<div class="container">
  <div class="row">
    <div class="col-md-4">
      {{bills/add-to-group bill=row size="sm"}}
    </div>
    <div class="col-md-4">
      <h6>Summary:</h6>
      <p>{{row.summary}}</p>
    </div>
    <div class="col-md-4">
      <h6>Affected Section</h6>
      <p>{{row.affectedSecion}}</p>
    </div>
  </div>
</div>