<h5>Votes</h5>
{{#each votes as |vote|}}
  <div class="vote-wrapper w-100">
    <strong>{{vote.motion}}</strong><br>
    {{vote.date}}<br>
    <span class="badge badge-pill badge-success">Yes {{vote.yes-count}}</span><br>
    <span class="badge badge-pill badge-danger">No {{vote.no-count}}</span>

  </div>
{{/each}}