
<div class="col-md-4">
  <h5>Summary</h5>
  <p>{{row.summary}}</p>
</div>
<div class="col-md-4">
  <h5>Notes</h5>
  {{#each row.notes as |note|}}
    {{note.text}}
  {{/each}}
</div>
<div class="col-md-4">
  <h5>Actions</h5>
  <div class="button-group">
    {{#bs-button}}

    {{/bs-button}}
  </div>
</div>