{{#light-table table responsive=true height=tableHeight as |t|}}

  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    canSelect=false
    onScrolledToBottom=(action 'onScrolledToBottom')
  as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{ui/loading-animation}}
      {{/body.loader}}
    {{/if}}

    {{#if (and (not isLoading) table.isEmpty)}}
      {{#body.no-data}}
        <p class="text-center">No saved bills match your filters.</p>
      {{/body.no-data}}
    {{/if}}

  {{/t.body}}

  {{#if meta}}
    {{#t.foot fixed=true as |columns|}}
      {{#if pager}}
        <tr>
          <td class="align-center" colspan={{columns.length}}>
            {{ui/table-pagintor page=page pageSize=page_size meta=meta pageAction=(action 'setPage')}}
          </td>
        </tr>
      {{/if}}
    {{/t.foot}}
  {{/if}}

{{/light-table}}