{{#unless isEditing}}
  {{features.clientLabel}} Position: <span class="text-capitalize">{{position}}</span>
  <div class="btn-group">
    {{#bs-button type="outline-secodnary" size="sm" onClick=(action (mut isEditing) true)}}
      Edit
    {{/bs-button}}
  </div>
{{else}}
  <h6>Select By {{features.clientLabel}} Position</h6>
  {{#bs-form onSubmit=(action "save") model=value as |form|}}
    {{#form.element property="position" as |el|}}
      {{#bs-button-group
        value=el.value
        type="radio"
        onChange=(action "save") as |bg|}}

        {{#bg.button type="outline-secondary" value="neutral"}}Neutral{{/bg.button}}
        {{#bg.button type="outline-success" value="support"}}Support{{/bg.button}}
        {{#bg.button type="outline-danger" value="oppose"}}Oppose{{/bg.button}}
      {{/bs-button-group}}
    {{/form.element}}
  {{/bs-form}}
{{/unless}}