{{#unless isEditing}}
  Included Sponsor Parties: {{sponsorParties}}
  <div class="btn-group">
    {{#bs-button type="outline-secondary" size="sm" onClick=(action (mut isEditing) true)}}
      Edit
    {{/bs-button}}
  </div>
{{else}}
  <h6>Select By Party</h6>
  {{#bs-form onSubmit=(action "save") model=value as |form|}}
    {{#form.element property="selectedParty" as |el|}}
      {{#bs-button-group
        value=el.value
        type="radio"
        onChange=(action "save") as |bg|}}

        {{#bg.button value="Republican"}}Republican{{/bg.button}}
        {{#bg.button value="Democratic"}}Democratic{{/bg.button}}
      {{/bs-button-group}}
    {{/form.element}}
  {{/bs-form}}
{{/unless}}