

{{!--
{{#bs-navbar fluid=true as |navbar|}}
    <div class="navbar-header">
      {{navbar.toggle class="navbar-toggler-right"}}
      {{#link-to "index" class="navbar-brand"}}<img class="cz-navbar-log" src="/assets/images/capitolzenwordmark_logo.svg" alt="Capitol Zen" width="100">{{/link-to}}
    </div>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
          {{#nav.item}}{{#nav.link-to "groups"}}Groups{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "bills.search"}}Bills{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "organization"}}My Account{{/nav.link-to}}{{/nav.item}}
          {{#nav.item class="pull-right"}}
            <a href="#" class="nav-link text-muted" {{action "invalidateSession"}}>Logout</a>
          {{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}
--}}