{{#bs-nav type="pills" justified=true as |nav|}}
  {{#nav.item}}
    {{#nav.link-to "groups.detail.index" group.id }}
      {{fa-icon "pencil-square-o"}} <br />
      <span>Manage</span>
    {{/nav.link-to}}
  {{/nav.item}}

  {{#nav.item}}
    {{#nav.link-to "groups.detail.bills" group.id}}
      {{fa-icon "file-text"}} <br />
      <span>Saved Bills</span>
    {{/nav.link-to}}
  {{/nav.item}}

  {{#nav.item}}
    {{#nav.link-to "groups.detail.pages.index" group.id}}
      {{fa-icon "file"}} <br />
      <span>Page</span>
    {{/nav.link-to}}
  {{/nav.item}}
{{/bs-nav}}
