{{#bs-nav type="pills" justified=true class="p-lg-0 mb-1 mb-lg-2 flex-nowrap d-flex" as |nav|}}
  {{#nav.item}}
    {{#nav.link-to "groups.bills" group.id}}{{fa-icon "file-text"}} <span class="hidden-sm-down pl-3">View</span>{{/nav.link-to}}
  {{/nav.item}}
  {{#nav.item}}
    {{#nav.link-to "groups.edit" group.id }}{{fa-icon "fa-pencil-square-o"}} <span
      class="hidden-sm-down pl-3">Edit</span>{{/nav.link-to}}
  {{/nav.item}}
  {{#nav.item}}
    {{#nav.link-to "reports" group.id}}{{fa-icon "tachometer"}} <span class="hidden-sm-down pl-3">Reports</span>{{/nav.link-to}}
  {{/nav.item}}
  {{!--{{#nav.item}}
    {{#nav.link-to "groups.filters" group.id}}{{fa-icon "filter"}} <span class="hidden-sm-down pl-3">Filters</span>{{/nav.link-to}}
  {{/nav.item}} --}}


{{/bs-nav}}