{{#bs-nav type="pills" justified=true as |nav|}}
  {{#nav.item}}
    {{#nav.link-to "groups.detail.index" group.id }}
      {{fa-icon "pencil-square-o"}} <br />
      <span>Manage</span>
    {{/nav.link-to}}
  {{/nav.item}}

  {{#nav.item}}
    {{#nav.link-to "groups.detail.bills" group.id}}
      {{fa-icon "file-text"}} <br />
      <span>Saved Bills</span>
    {{/nav.link-to}}
  {{/nav.item}}

  {{#nav.item}}
    {{#nav.link-to "reports.client" group.id}}
      {{fa-icon "map"}} <br />
      <span>Reports</span>
    {{/nav.link-to}}
  {{/nav.item}}
{{/bs-nav}}

