<div class="row justify-content-between">
  <div class="col-4">
    <div class="card">
      <img class="card-img-top" src="//unsplash.it/200/300?random" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Get Help</h4>
        <p class="card-text">We're here to help. </p>
        {{#bs-button type="primary" onClick=(action "triggerChat")}}Chat Now{{/bs-button}}
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img class="card-img-top" src="//unsplash.it/200/300?random" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Get Help</h4>
        <p class="card-text">We're here to help. </p>
        {{#bs-button onClick=(action "triggerFeedback")}}Give Feedback{{/bs-button}}
      </div>
    </div>
  </div>
</div>