<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      {{#ui/ui-box as |b|}}
        {{#b.header}}
          Thank You
        {{/b.header}}
        {{#b.body}}
          <p>Capitol Zen has ceased operations.</p>
          <p>Thank you for your support!</p>
        {{/b.body}}
      {{/ui/ui-box}}
    </div>
  </div>
</div>
