<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">Welcome to Capitol Zen. We needed to decide on spelling for that when we do the logo.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    {{#link-to "bills.search" class="btn btn-primary btn-lg"}}Search Bills Now{{/link-to}}
  </p>
</div>