<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-8 mt-5">
      {{#ui/ui-box as |b|}}
        {{#b.header}}
          Thank You
        {{/b.header}}
        {{#b.body}}
          <p>Capitol Zen has ceased operations.</p>
          <p>Thank you for your support!</p>
          <p>To protect your privacy, and that of your clients, we have irrevocably destroyed all of your data and files from our database.</p>
        {{/b.body}}
      {{/ui/ui-box}}
    </div>
  </div>
</div>
