<div class="app flex-row align-items-center">
  <div class="container">
    <div class="col-md-6 offset-md-3">
      <div class="anon-header">
        <h1>
          <img class="img-fluid" src="/assets/images/capitolzenwordmark_logo.svg" alt="Capitol Zen">
          <span class="sr-only">Capitol Zen</span>
        </h1>
      </div>

      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Sorry!</h4>
          <p>It looks like you've found a page that doesn't exist.</p>
          {{#link-to "dashboard" class="btn btn-primary"}}Go to my Dashboard{{/link-to}}
          {{#intercom-button class="btn btn-secondary"}}Get help{{/intercom-button}}
        </div>
      </div>
    </div>
  </div>
</div>
