<div class="card">
  {{#bs-form model=changeset onSubmit=(action "submit") as |form|}}
  <div class="card-block">
    <h4 class="card-title">Create New Password</h4>
    {{form.element controlType="password" label="New Password" property="password" required=true}}
    {{form.element controlType="password" label="Confirm New Password" property="confirm_password" required=true}}
  </div>
  <div class="card-footer">
    {{bs-button textState=buttonState disabled=formSubmitButtonDisabled defaultText="Confirm" type="primary" buttonType="submit"}}
    {{#link-to 'anon.login' class="pull-right btn btn-secondary"}}Cancel{{/link-to}}
  </div>
{{/bs-form}}
</div>
